{$this->header}

<h4>Administration Projektverwaltung</h4>
<p>An dieser Stelle werden die zuständigen Lehrer für die einzelnen Klassen verwaltet.</p>
<p>Als Administrator der Projektverwaltung haben Sie außerdem Zugriff auf alle Klassen in der Eingabemaske der Themen.</p>

<p>Aktuelle 9. Klassen: $gradeList</p>

<p><a href="index.php?page=projektverwaltung&action=admin&mode=print"><i class="fa fa-file-excel"></i> Alle Daten als Exceldatei exportieren für Seriendruck</a></p>

$gradeListAdmin

{$this->footer}