{$this->header}

$message

		<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-key"></i> Passwort ändern</h3>              
            </div>
           <div class="box-body">

<p>An dieser Stelle kann das Passwort geändert werden.<br />
Dazu muss zuerst das alte Kennwort, und anschließend das neue Passwort zweimal eingegeben werden.</p>
<form action="index.php?page=userprofilepassword&action=changePassword" method="post">
<p><input type="password" name="oldpw" class="form-control" placeholder="Altes (bisheriges) Passwort" required="required"></p>
<p><input type="password" name="pw1" class="form-control" placeholder="Neues Passwort (mindestens 6 Zeichen)" required="required" pattern=".{6,}"   required title="Mindestens 6 Zeichen"></p>
<p><input type="password" name="pw2" class="form-control" placeholder="Wiederholung des neuen Passwortes" required="required" pattern=".{6,}"   required title="Mindestens 6 Zeichen"></p>
<p><input type="submit" value="Ändern" class="form-control"></p></form>
</div>
</div>

{$this->footer}