		<div class="modal fade" id="confirmationStatus{$this->dialogNumber}" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document" style="width:80%">
		    <div class="modal-content">
		    <div class="modal-header">	    
		    	<h4 class="modal-title"><i class="fa fa-check-o"></i> Empfangsbestätigungen {$recipients[$i]->getDisplayName()}</h4>
		      </div>
		      <div class="modal-body">
				<table class="table table-striped table-bordered">
					$htmlConfirmation
				</table>
		      </div>
		      </div>
		     </div>
		    </div>