<div class="box">
	<div class="box-header">
		<h3 class="box-title"><i class="fa fa-sign-language"></i> Administration Sprechtage</h3>
	</div>
	<div class="box-body">
		<if(self::$currentSprechtagID > 0)><then>
		<a href="$selfURL" class="btn"><i class="fa fa-chevron-circle-left"></i> Zurück zur Auswahl</a>
		<h3><expression>self::$currentSprechtag['sprechtagName']</expression> </h3>
		
		<form action="$selfURL&mode=editSprechtag&sprechtagID=$sprechtagID" method="post">
		
		<div class="row">
			<div class="col-md-8">
			

		<table class="table table-striped">
			<tr>
				<th style="width:20%">Einstellung</th>
				<th>Wert</th>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="sprechtagName" autocomplete="off" class="form-control" value="<expression>self::$currentSprechtag['sprechtagName']</expression>"></td>
			</tr>
			<tr>
				<td>Datum:</td>
				<td>
				
					<div class="input-group">
	                	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" name="sprechtagDate" autocomplete="off" class="form-control datepickerSprechtag" value="<expression>DateFunctions::getNaturalDateFromMySQLDate(self::$currentSprechtag['sprechtagDate'])</expression>">
					</div>
				
				
				</td>
			</tr>
			
			<tr>
				<td>Begin des ersten Slots:<br /><i>Format: HH:mm</i></td>
				<td>
					<if($hasSlots)><then>
					
					<div class="input-group">
	                	<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						<input type="text" name="sprechtagFirstSlotTime" autocomplete="off" class="form-control timepicker" disabled="true" value="<expression>date('H:i',self::$currentSprechtag['sprechtagBeginTime'])</expression>">
					</div>					
					
					
					</then><else>
										<div class="input-group">
	                	<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
					<input type="text" name="sprechtagFirstSlotTime" maxlength="5" autocomplete="off" class="form-control timepicker" value="<expression>date('H:i',self::$currentSprechtag['sprechtagBeginTime'])</expression>">
					</div>				
					</else></if>
					<strong>Wichtig: Nachdem Sie Slots angelegt haben, können Sie diese Zeit nicht mehr verändern!</strong>
				</td>
			    </tr>
			<tr>
				<td>Buchbar ab:</td>
				<td>
					<div class="input-group">
	                	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text" name="sprechtagBuchbarAbDatum" autocomplete="off" class="form-control datepickerSprechtag" value="<expression>date('d.m.Y',self::$currentSprechtag['sprechtagBuchbarAb'])</expression>">
					</div>
					<div class="input-group">
	                	<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
					<input type="text" name="sprechtagBuchbarAbUhrzeit" autocomplete="off" maxlength="5" class="form-control" value="<expression>date('H:i',self::$currentSprechtag['sprechtagBuchbarAb'])</expression>">
					</div>
				</td>
			</tr>
			<tr>
				<td>Buchbar bis:</td>
				<td>
				
				
					<div class="input-group">
	                	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<input type="text" name="sprechtagBuchbarBis" autocomplete="off" class="form-control datepickerSprechtag" value="<expression>DateFunctions::getNaturalDateFromMySQLDate(self::$currentSprechtag['sprechtagBuchbarBis'])</expression>">
					</div>				
				
				
				
				</td>
			</tr>
			
			<tr>
				<td>Aktiv für folgende Klassen:</td>
				<td>
					<select name="sprechtagKlassen[]" id="selectKlasse" class="form-control" multiple="multiple">
						$klassenOptionen
					</select>
					<small>Nur Eltern von Kindern dieser Klassen können den Sprechtag buchen. Wenn Sie allte Klassen entfernen, wird der Sprechtag automatisch für alle Klassen markiert.</small>
				</td>
			</tr>
			<!-- 
			<tr>
				<td>Wie viel Prozent der Slots sind online buchbar?</td>
				<td>
	              <div class="input-group">
	                <span class="input-group-addon"><i class="fa fa-percent"></i></span>
	              <input type="number" name="sprechtagPercentSlotsOnlineBuchbar" autocomplete="off" class="form-control" value="<expression>self::$currentSprechtag['sprechtagPercentPerTeacherOnlineBookable']</expression>">
	              </div>					
	              
					<small>Die Zahl bezieht sich auf die Zahl der Slots bei jedem Lehrer. (z.B. bei der Eingabe von 80% sind bei 10 <u>buchbaren</u> Slots bei einer Lehrerin nur 8 online buchbar. Der Rest bleibt frei für manuelle Buchung.)
					</small>
					<br /><small><b>Hinweis:</b> Sie können bei der Bearbeitung der Slots manche Slots allgemein von der Online Buchung ausnehmen.</small>
				</td>
			</tr>
			-->
			
			<tr>
				<td>Ist aktiv:</td>
				<td>
					<if(self::$currentSprechtag['sprechtagIsActive'] == 0)>
						<then>Nein <a href="$selfURL&mode=activateSprechtag&sprechtagID=$sprechtagID"><i class="fa fa-check"></i> Sprechtag aktivieren</a></then>
						<else>Ja <a href="$selfURL&mode=deactivateSprechtag&sprechtagID=$sprechtagID"><i class="fa fa-ban"></i> Sprechtag deaktivieren</a></else>
					</if><br />
					<b>ACHTUNG: Aktivieren Sie den Sprechtag, nachdem Sie alle Einstellungen vorgenommen haben. Buchbar ist er trotzdem erst ab dem Datum, welches Sie oben angeben.</b>
				</td>
			</tr>
		</table>
		
				
		
		<button class="btn btn-primary" style="width:100%" type="submit"><i class="fa fa-save"></i> Änderungen speichern</button>
		
		</form>
		
		
			</div>
			<div class="col-md-4">
	
			<p><a href="$selfURL&mode=editSlots&sprechtagID=$sprechtagID" class="btn btn-primary"><i class="fa fa-table"></i> Slots bearbeiten</a></p>
			<p><a href="$selfURL&mode=editTeacher&sprechtagID=$sprechtagID" class="btn btn-primary"><i class="fa fa-female"></i> Lehrer bearbeiten</a></p>
			<p><a href="$selfURL&mode=printZettel&sprechtagID=$sprechtagID" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Aushangzettel drucken</a></p>
			<p><a href="$selfURL&mode=printZettel&sprechtagID=$sprechtagID&showMail=1" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Aushangzettel drucken (mit E-Mailadressen)</a></p>
			
			<p><a href="$selfURL&mode=exportCSV&sprechtagID=$sprechtagID" class="btn btn-primary"><i class="fa fa-table"></i> CSV Export</a></p>
			
			
			<p><a href="$selfURL&mode=printZettel&sprechtagID=$sprechtagID&noNames=1" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Aushangzettel ohne Namen drucken</a></p>
			
			<p><a href="#"  class="btn btn-danger "onclick="javascrpipt:confirmAction('Soll der Elternsprechtag wirklich gelöscht werden?','$selfURL&mode=deleteSprechtag&sprechtagID=$sprechtagID');"><i class="fa fa-trash"></i> Sprechtag löschen<br /><small> (mit Sicherheitsabfrage)</small></a></p>
			
			<p><a href="#"  class="btn btn-danger "onclick="javascrpipt:confirmAction('Soll der Elternsprechtag wirklich wieder verwendet werden? Alle vorhandenen Buchungen weren gelöscht!','$selfURL&mode=resetSprechtag&sprechtagID=$sprechtagID');"><i class="fa fa-recycle"></i> Sprechtag wieder verwenden (Aktuelle Buchungen löschen)<br /><small> (mit Sicherheitsabfrage)</small></a></p>
			
			
			<br /><br />

			<div class="callout callout-info">
				<i class="fa fa-info-circle"></i> <u>Löschen Sie einen Sprechtag nach Ende nicht.</u> Sie können ihn später recyceln, in dem Sie alle Buchungen löschen und das Datum ändern. Abgelaufene Sprechtage werden den Eltern und den Lehrern nicht angezeigt.
			
			</div>

		
			</div>
		</div>


		<script src="cssjs/plugins/timepicker/bootstrap-timepicker.min.js"></script>
		
		<script>
			
			$(function() {
				$(".datepickerSprechtag").datepicker({
					format: 'dd.mm.yyyy',
			        language: "de",
			        autoclose: true
				});
				
				$("#selectKlasse").select2();
			});
			
			</script>
		
		
		</then>
		<else>
		
		
			<if($selectSprechtagListe != "")><then>
				<b>Bitte einen Sprechtag zur Bearbeitung auswählen:</b><br />
				$selectSprechtagListe<br /><br />
			</then>
			<else>
		
		
			<div class="callout callout-info">Im Moment ist kein Sprechtag vorhanden.</div>
			
			
			
			</else></if>
			
			<hr>
			
			<h4>Neuen Sprechtag anlegen:</h4><br />
			<form action="{$selfURL}&mode=addSprechtag" method="post">
			<div class="form-grpup">
				<label>Name</label>
				<input type="text" name="sprechtagName" placeholder="z.B. Unterstufensprechtag" class="form-control" required="required">
			</div><br />
			<p><button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Speichern</button></p>
			</form>
			<strong>Die weiteren Einstellungen werden nach dem Anlegen vorgenommen.</strong>

		</else>
		</if>
		</div>

</div>