<div class="tab-pane<if($i==0)><then> active</then></if>" id="{$allCrons[$i]}">
<b>{$cronObject->getDescription()}</b>
<br />
	<div class="pull-right">Ausführung: Alle $executeEveryMinutes Minuten</div>
<br />
	<button type="button" class="btn btn-success" onclick="executeCron('{$allCrons[$i]}', '{$cronObject->getName()}')"><i class="fa fas fa-running"></i> Cron einmalig manuell ausführen</button>
<table class="table table-striped table-hover">
	<tr>
		<th>Startzeit</th>
		<th>Endzeit</th>
		<th>Erfolg</th>
		<th>Ergebnis</th>
	</tr>
	{$executionHTML}
</table>

</div>