{$this->header}

{$this->topmenu}
<img src="images/phyweintertesslogo.jpg" width="30%" style="float: right;margin: 10px;">

<p><b>Als Lehrer können Sie PhyWE Intertess verwenden. Wir haben eine Lizenz für alle Bereiche: Physik, Chemie und Biologie.</b></p>

<p><i class="fa fa-windows"></i> <a href="software/setup_intertess.exe">Installationsdatei Windows (setup_intertess.exe) - 343 MB</a></p>

<p>Zur Lizenzierung bitte folgenden Key eingeben:</p>

<p><i class="fa fa-key"></i> <code>91507467-100-11059004</code></p>

<p>Das Lehrerpasswort lautet:</p>

<p><i class="fa fa-key"></i> <code>47395</code></p>
	
{$this->footer}