<html>
	<head>
		<style>
			.td {
				font-family: "Arial";
			
			}
			
			.body {
				font-family: "Arial";
			}
			
			@page { margin: 0; }
			
			@media print {
			  @page { margin: 0; }
			  body { margin: 1.6cm; }
			}
		
		</style>
		<meta charset="utf-8">  
		
	</head>
	<body>
		<if($printHeader)><then>

				<p align="center"><img src="<expression>DB::getGlobalSettings()->urlToIndexPHP</expression>?page=printSettings&action=GetPrintHeader" style="width:90%"></p>
				
		
		</then></if>
		
		
		$printContent
		
		
		<script>
	    window.print();
	    setTimeout(function () { window.close(); }, 100);

		</script>
	
	</body>


</html>