<html>
	<head>
		<style>
			.td {
				font-family: "Arial";
				font-size: 10pt;
			
			}
			
			.body {
				font-family: "Arial";
			}
			
			@page { margin: 0; }
			
			@media print {
			  @page { margin: 0; }
			  body { margin: 1.6cm; }
			  .dontprint {
			     display: none;
			  }
			.td {
				font-family: "Arial";
				font-size: 9pt;
			
			}
			}
		
		</style>
		<meta charset="utf-8">  
		
	</head>
	
	<body>
		<form><button class="dontprint" onclick="window.print()">Drucken</button></form>
		<if($printHeader)><then>
		
				<if(DB::getGlobalSettings()->printLetterWithFullBackgroundImage)><then>
					<p align="center"><img src="imagesSchool/Briefkopf_2.jpg" style="width:90%"></p>
				</then>
				<else>
				<p align="center"><img src="<expression>DB::getGlobalSettings()->urlToIndexPHP</expression>?page=printSettings&action=GetPrintHeader" style="width:90%"></p>
				</else></if>
		
				
				
		
		</then></if>
		
		
		$html
		
		
		<script>
	    window.print();
	    </script>
	
	</body>


</html>