Willkommen im Vertragscenter für die Bereitstellung Ihrer SchuleIntern Instanz.
<br />


<if(DB::isTestversion())><then>
<b>Sie sind in einer kostenlosen Testphase. Daher müssen Sie nur einen AV Vertrag zeichnen. Beachten Sie bitte, dass erst nach Zeichnung des AV Vertrages ein Import der ASV Daten möglich ist.</b>
</then>
<else>
<h3>Vielen Dank, dass Sie sich für SchuleIntern entschieden haben.</h3>
</else>
</if>
<b>Sie können hier alle nötigen Verträge online zeichnen.</b>

<h4>Wie funktioniert die elektronische Zeichnung?</h4>
<button class="btn btn-xs" type="button" onclick="$('#infoZeichnen').toggle()">Informationen anzeigen</button>

<ul id="infoZeichnen" style="display:none">
	<li>Wählen Sie den Vetrag aus, den Sie zeichnen möchten.</li>
	<li>Lesen Sie sich den Vetragstext sorgfältig durch.</li>
	<li>Geben Sie am Ende den Namen des Zeichnungsberechtigten und die dienstliche E-Mailadresse des Zeichnungsberechtigten ein.</li>
	<li>Klicken Sie auf "Zeichnungscode anfordern".</li>
	<li>Sie erhalten einen Zeichnungscode per E-Mail zugesandt.</li>
	<li>Geben Sie den Code ein und klicken Sie auf "Zeichnen".</li>
	<li>Sie erhalten eine Kopie des Vertrages hier zum Download und per E-Mail als PDF zugesendet.</li>
	<li>Die Veträge sind von Seiten Spitschka IT Solutions bereits gezeichnet. Sie können sofort loslegen.</li>
</ul>

<!-- 
<h4>Wie funktioniert die elektronische Kündigung?</h4>
<button class="btn btn-xs" type="button" onclick="$('#infoKuendigen').toggle()">Informationen anzeigen</button>

<ul id="infoKuendigen" style="display:none">
	<li>Wählen Sie den Vetrag aus, den Sie kündigen möchten.</li>
	<li>Geben Sie am Ende den Namen des Zeichnungsberechtigten und die dienstliche E-Mailadresse des Zeichnungsberechtigten ein.</li>
	<li>Klicken Sie auf "Kündigungscode anfordern".</li>
	<li>Sie erhalten einen Kündigungscode per E-Mail zugesandt.</li>
	<li>Geben Sie den Code ein und klicken Sie auf "Kündigen".</li>
	<li>Sie erhalten eine Kopie der Kündigungsbestätigung hier zum Download und per E-Mail als PDF zugesendet.</li>
	<li>Die Kündigung wird zum Ende der Vetragslaufzeit gültig.</li>
</ul>

-->

<br /><br />

<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		$tabsContracts
	</ul>
	<div class="tab-content">
		$htmlContracts
	</div>
</div>