
<form action="index.php?page=klassentagebuch&mode=editKlassentagebuchEntry&entryID={$entries[$e]->getID()}&grade={$_REQUEST['grade']}&currentDate={$this->currentDateNatural}" method="post" enctype="multipart/form-data">
<div class="modal fade" id="editentry{$entries[$e]->getID()}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fas fa-pencil-alt"></i> Eintrag bearbeiten</h4>
      </div>
      <div class="modal-body">
          <input type="hidden" name="stunde" id="stunde">
          <table class="table table-striped">
          	<tr>
          		<td style="width:15%"><b>Stunde</b></td>
          		<td>{$entries[$e]->getStunde()}</td>
          	</tr>
          	<tr>
          		<td><b>Lehrer</b></td>
          		<td><expression>DB::getSession()->getTeacherObject()->getKuerzel()</expression></td>
          	</tr>
          	<tr>
          		<td><b>Vertretung?</b></td>
          		<td>

	              <div class="checkbox icheck">
	                <label>
	                  <input type="checkbox" name="isVertretung" value="1" id="isvertretung{$entries[$e]->getID()}"
	                  	<if($entries[$e]->isVertretung())><then>checked="checked"</then></if>>
	                </label>
	              </div>
	            </td>
	         </tr>
	         <tr>
	         	<td><b>Fach</b></td>
	         	<td><select name="fach" id="fach{$entries[$e]->getID()}" class="form-control">$selectFach</select></td>
	         </tr>
	         <tr>
	         	<td><b>Unterrichtsstoff</b></td>
	         	<td><input type="text" name="stoff" class="form-control" id="stoff{$entries[$e]->getID()}" value="{$entries[$e]->getStoff()}"></td>
	         </tr>
	         <tr>
	         	<td><b>Hausaufgaben</b></td>
	         	<td><input type="text" name="hausaufgaben" class="form-control" id="hausaufgaben{$entries[$e]->getID()}" value="{$entries[$e]->getHausaufgabe()}"><br /><small>Am heutigen Tag aufgegeben. Evetuell mit Zeitangabe.</small></td>
	         </tr>

	                    <tr>
           	 <td><b>Öffentliche Dateianhänge</b><br /><small>Werden zu den vorhanden Dateien hinzugefügt</small></td>
           	 <td>
			  	<input type="file" name="filesPublic1" class="form-control">
			  	<input type="file" name="filesPublic2" class="form-control">
			  	<input type="file" name="filesPublic3" class="form-control">

					<small>Es Können Bilder, PDF Dateien und Office Dokumente hochgeladen werden.</small>
           	 </td>
           	</tr>

           	<tr>
           	 <td><b>Private Dateianhänge</b><br /><small>Diese Dateien sind nur für Sie sichtbar.</small><br /><small>Werden zu den vorhanden Dateien hinzugefügt</small></td>
           	 <td>
				<input type="file" name="filesPrivate1" class="form-control">
			  	<input type="file" name="filesPrivate2" class="form-control">
			  	<input type="file" name="filesPrivate3" class="form-control">
           	 </td>
           	</tr>
	         <tr>
	         	<td><b>Private Notizen</b></td>
	         	<td><textarea id="compose-textarea" class="form-control" style="height: 300px" name="notizen" placeholder="Private Notizen zur Stunde"><expression>@htmlspecialchars($entries[$e]->getNotizen())</expression></textarea></td>
	         </tr>
          </table>
      </div>
      <div class="modal-footer">
      	<button type="submit" class="btn btn-default"><i class="fa fa-save"></i> Eintrag bearbeiten</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
</form>

<script>
$("#fach{$entries[$e]->getID()}").val('{$entries[$e]->getFach()}');
</script>