{$this->header}

<div class="box">
	<div class="box-header">
		<div class="row">
			<div class="col-md-2"><h3 class="box-title">Klassentagebuch $grade</h3></div>
			
			<if($canEdit)><then>
			<div class="col-md-2">
				<form action="index.php?page=klassentagebuch&mode=showGrade" method="post">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-group"></i></span>
					<select name="grade" onchange="submit()" class="form-control">$selectGrade</select>
				</div>
				</form>	
			</div>
			</then></if>
			<div class="col-md-3">
				<form action="index.php?page=klassentagebuch&mode=showGrade&action=switchDate&grade={$_REQUEST['grade']}&currentDate={$this->currentDateNatural}" method="post">
				<div class="row">
					<div class="col-md-2">
						<button type="submit" name="prevDay" value="1" class="form-control"><i class="fa fa-arrow-left"></i></button>					
					</div>
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" class="form-control" id="dayDate" value="<expression>DateFunctions::getWeekDayNameFromNaturalDate($this->currentDateNatural)</expression>, {$this->currentDateNatural}" name="currentDateWithDay" onchange="submit()">
						</div>
					</div>
					<div class="col-md-2">
						<button type="submit" name="nextDay" value="1" class="form-control"><i class="fa fa-arrow-right"></i></button>					
					</div>
				
				</div>

				</form>			
			</div>
			<if($this->isTeacher)><then>
				<div class="col-md-3">
					<a href="index.php?page=klassentagebuch&mode=lehrerTagebuch&currentDate={$this->currentDateNatural}"><i class="fa fa-book"></i> Zum Lehrertagebuch wechseln</a>
				</div>
			</then></if>
		</div>
	
	</div>
	<div class="box-body">
		Bitte eine Klasse auswählen.
	</div>
</div>


<script>
	$(function() {
		$("#dayDate").datepicker({
			format: 'DD, dd.mm.yyyy',
	        language: "de",
	        autoclose: true,
	        showButtonPanel: true
	    });
	});
	
</script>


{$this->footer}