{$this->header}


<div class="box">

	<div class="box-header">
		<h3 class="box-title"><i class="fa fa-female"></i> Ausweise genehmigen</h3>
	</div>
	
	<div class="box-body">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Typ</th>
				<th>Name / PLZ / Wohnort</th>
				<th>Foto</th>
				<th>Gültig bis</th>
				<th>Status</th>
			</tr>
			</thead>
			<tbody>
				$ausweiseHTML
			</tbody>
		
		</table>

		
	</div>
</div>

    
    <script>
$(document).ready(function(){
		$(".datePicker").datepicker({
			format: 'dd.mm.yyyy',
	        language: "de",
	        autoclose: true,
	        showButtonPanel: true
	        
	    });
});</script>
    
{$this->footer}