<!-- </p> -->
		<!-- </section> -->
			<!-- </div> --><!--  /scroller -->
		</div>
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Software - Version</b> <expression>DB::getVersion()</expression>
        </div>
        &copy; <expression>DB::getGlobalSettings()->schoolName</expression> (<a href="index.php?page=impressum" target="_blank">Impressum</a>)

		  | Software: <a href="https://www.schule-intern.de" target="_blank">SchuleIntern</a> | Design: Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>. All rights reserved.
      </footer>
    </div><!-- ./wrapper -->

    <script src="cssjs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="cssjs/plugins/raphael/raphael.js"></script>
    <script src="cssjs/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="cssjs/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="cssjs/plugins/knob/jquery.knob.js" type="text/javascript"></script>
    <script src="cssjs/plugins/moment/moment-with-locales.js" type="text/javascript"></script>
    <script src="cssjs/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="cssjs/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="cssjs/plugins/datepicker/locales/bootstrap-datepicker.de.js" type="text/javascript"></script>
    <!-- <script src="cssjs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script> -->
    <script src="cssjs/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src='cssjs/plugins/fastclick/fastclick.min.js'></script>


    
    

    <script src="cssjs/dist/js/app.min.js" type="text/javascript"></script>
    
    
   <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <div class="modal-header">	    
	    	<h4 class="modal-title" id="errorMessageTitle"></h4>
	    	
	      </div>
	      <div class="modal-body">
	      	<div class="callout callout-danger" id="errorMessageText"></div>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary" onclick="$('#errorMessageModal').modal('hide');"><i class="fa fa-check"></i> OK</button>	
	      </div>
	      </div>
	     </div>
	    </div>
    
    	   <script>
	   	function fireErrorMessage(title, message) {
	   		$('#errorMessageTitle').html(title);
	   		$('#errorMessageText').html(message);

	   		$('#errorMessageModal').modal('show');
	   	}
	   	
	   	</script>
	   	
	   	
	  <div class="modal fade" id="printDialog" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<iframe id="printIFrame" style="width:100%" url=""></iframe>
	      </div>
	      <div class="modal-footer">
	        <a href="" class="btn btn-default" id="openPrintInNewWindowLink"><i class="fa fa-link"></i> In neuem Fenster öffnen</a>
	      	<button type="button" class="btn btn-primary" onclick="$('#printDialog').modal('hide');" target="_blank"><i class="fa fa-check"></i> Schließen</button>	
	      </div>
	      </div>
	     </div>
	    </div>
    
    	   <script>
	   	function printURL(url) {
	   		$("#openPrintInNewWindowLink").attr("href",url);
	   		$('#printIFrame').attr('src', url)
	   		$('#printDialog').modal('show');
	   	}
	   	
	   	</script>
    
	<div class="modal fade" id="confirmAction" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <div class="modal-header">	    
	    	<h4 class="modal-title" id="confirmQuestion"></h4>
	    	
	      </div>
	      <div class="modal-body">
	      	<form>
	      		<button type="button" id="confirmActionOKButton" class="btn btn-success btn-flat" onclick="confirmActionConfirmed()"><i class="fa fa-check"></i> Ja</button>
	      		<button type="button" class="btn btn-warning btn-flat" onclick="$('#confirmAction').modal('hide');"><i class="fa fa-ban"></i> Nein</button>
	      	</form>
	      </div>
	      </div>
	     </div>
	    </div>
	   
	   <script>
	   	function confirmAction(question, destinationURL, confirmFunction) {
	   		window.confirmURL = destinationURL;
	   		window.confirmFunction = confirmFunction;
	   		
	   		$('#confirmQuestion').html(question);
	   		$('#confirmAction').modal('show');
	   		$('#confirmActionOKButton').focus();
	   	}
	   	
	   	function confirmActionConfirmed() {
	   		$('#confirmAction').modal('hide');
	   		
	   		if(window.confirmURL != null) {
	   			window.location.href=window.confirmURL;
	   		}
	   		else {
	   			window.confirmFunction();
	   		}
	   	}
	   
	   
	   </script>
	   
    
    </body>
</html>