<!--  <a href="index.php?gplsession={$_GET['gplsession']}">Startseite</a> -->
<a href="index.php?page=vplan&gplsession={$_GET['gplsession']}"{$currentPageCSS['vplan']}>Vertretungsplan</a>
<a href="index.php?page=userprofile&gplsession={$_GET['gplsession']}"{$currentPageCSS['profile']}>Benutzerprofil / Passwort</a>
<a href="index.php?page=stundenplan&gplsession={$_GET['gplsession']}"{$currentPageCSS['kalender']}>Stundenplan, Termine</a>
<a href="index.php?page=office365&gplsession={$_GET['gplsession']}"{$currentPageCSS['sonstiges']}>Sonstiges, Lizenzen</a>
<a href="index.php?page=logout&gplsession={$_GET['gplsession']}&id=0">Abmelden</a>