						<section>
							<div>
								<h3>Lizenzen</h3>
								<div class="row">
									<div class="6u">
										<ul class="link-list">
											<li>Software</li>
											<li>&raquo; <a href="index.php?page=office365&gplsession={$_GET['gplsession']}">Microsoft Office Professional Plus</a></li>
											<li>&raquo; <a href="index.php?page=dreamspark&gplsession={$_GET['gplsession']}">Dreamspark Software von Microsoft (Entwicklersoftware)</a></li>
										</ul>
									</div>
									
									<div class="6u">
										<ul class="link-list">
											<li>IT Unterricht</li>
											<li>&raquo; <a href="index.php?page=database&gplsession={$_GET['gplsession']}">Datenbanken für den Unterricht</a></li>
										</ul>
									</div>
								</div>
							</div>
						</section>