						<section>
							<div>
								<div class="row">
									<div class="6u">
										<ul class="link-list">
											<li>Stundenplan</li>
											<li>&raquo; <a href="index.php?page=stundenplan&gplsession={$_GET['gplsession']}">Aktueller Stundenplan</a></li>
										</ul>
									</div>
									
									<div class="6u">
										<ul class="link-list">
											<li>Termine</li>
											<li><i>Der Kalender ist derzeit noch nicht verfügbar.</i></li>
											<!-- <li>&raquo; <a href="index.php?page=database&gplsession={$_GET['gplsession']}">Klassenterminplan</a> (Klassentermine, Schulaufgaben und Kurzarbeiten.)</li> -->
										</ul>
									</div>
								</div>
							</div>
						</section>