{$this->header}

<h4>$showText</h4>

<style>
table table-bordered a {
	color: #000000;
}
</style>

<center>
<i class="fa fa-file-pdf-o"></i> <a href="index.php?page=stundenplan&savePDF=1{$savelink}" target="_blank">Druckversion (PDF)</a>
$selectLehrerplan
$selectKlassenplan
$selectRaumplan
$selectFachplan

<div style="text-align: right" id="erklaerung2"><a href="#" onclick="javascript:document.getElementById('erklaerung').style.display='';document.getElementById('erklaerung2').style.display='none';">Erklärung anzeigen</a></div>
<strong>Alle Angaben ohne Gewähr!</strong><br />
$plan
<small>Die 11. Stunde am Donnerstag ist die Klassenleiterstunde zwischen der 4. und 5. Stunde.</small>


</center>
{$this->footer}