						<section>
							<div>
								<div class="row">
									<div class="6u">
										<ul class="link-list">
											<li>&raquo; <a href="index.php?page=stundenplan&gplsession={$_GET['gplsession']}">Aktuelle Stundenpläne</a></li>
										</ul>
										<ul class="link-list">
											<li>&raquo; <a href="index.php?page=ausleihe&gplsession={$_GET['gplsession']}&objektID=1">iPad Reservierung</a></li>
										</ul>
									</div>
									
									<div class="6u">
										<ul class="link-list">
											<li>Termine</li>
											<li><i>Der Kalender ist derzeit noch nicht verfügbar.</i></li>
											<!-- <li>&raquo; <a href="index.php?page=klassenkalender&gplsession={$_GET['gplsession']}">Klassenkalender</a> (Klassentermine, Schulaufgaben, Kurzarbeiten und Stegreifaufgaben.)</li> -->
										</ul>
									</div>
								</div>
							</div>
						</section>