{$this->header}

<div align="center">

<if(!DB::getSettings()->getBoolean('vplan-dont-show-warning-school-plan'))><then>

      <div class="callout callout-warning">
          <p><strong>Achtung: Nur der Vertretungsplan in der Schule ist ausschlaggebend! Dieser Plan hier dient nur zur unverbindlichen Information.</strong></p>
        </div>
</then></if>

		<div class="box">
            <div class="box-header">
              <h3 class="box-title">Verfügbare Pläne</h3>          
            </div>
           <div class="box-body no-padding">
           		<table class="table table-striped">
				$vplanTH
				$listPlan
			</table>
			</div>
		</div>


<br />
<style type="text/css">

.mon_title 
{ 
	font-weight: bold; 
	font-size: 120%; 
	clear: both; 
	margin: 0; 
}

.inline_header
{
	font-weight: bold; 
}

table.info
{
	color: #000000; 
	font-size: 100%;
	border: 1px;
	border-style:solid;
	border-collapse:collapse;
	padding: 8px 4px;
}

table.mon_list
{
	color: #000000; 
	width: 100%; 
	font-size: 100%;
	border: 1px;
	border-style:solid;
	border-collapse:collapse;
}

table.mon_head
{
	color: #000000; 
	width: 100%; 
	font-size: 100%;
}

td.info,
th.list,
td.list,
tr.list
{
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 0px;
	border-collapse:collapse;
	padding: 3px;
}

tr.odd { background: #fad3a6; }
tr.even { background: #fdecd9; }

</style>


$header<br />

$ownData
</table>

<if((DB::getSession()->isEltern() || DB::getSession()->isPupil()) && DB::getSettings()->getBoolean('vplan-only-own'))><then>

&nbsp;

</then>
<else>

$info

</else></if>

<if(DB::getGlobalSettings()->schulnummer == "9400")><then>
<div class="callout callout-info">
Die Demoversion enthält für jede Klasse / Lehrer eine Vertretung. (Die Vertretungen ergeben keinen Sinn. Sie sind rein zufällig.)</div>
</then></if>

<if((DB::getSession()->isEltern() || DB::getSession()->isPupil()) && DB::getSettings()->getBoolean('vplan-only-own'))><then></then><else>$images</else></if>


<br />
$censor

</div>
{$this->footer}