{$this->header}
<b>Konfigurationsanleitung für Windows</b><br />

<p>Auf dieser Seite wird erklärt, wie man am privaten Laptop mit Windows 7 das Wlan des Gymnasium Pullachs nutzen kann.<br> Bei andere Versionen von MS Windows funktioniert die Installation ähnlich.   </p>
<i>Bitte alle Schritte genau lesen, verstehen und befolgen!</i><br /><br />

<ol>
	<li>Zuerst klickt man auf das kleine Netzwerk-Symbol im Systemtray der Taskleiste (unten rechts am Bildschirm)<br /><br>
	<img src="images/windows/Wlan-1.PNG" width="50%"><br /><br></li>
	<li>Es öffnet sich ein kleines Fenster. Dort auf <b>Netzwerk- und Freigabecenter öffnen</b> klicken<br /><br>
	<img src="images/windows/Wlan-2b.PNG" width="50%"><br /><br></li>
	<li>Im nun folgenden Fenster klickt man auf <b>Drahtlosnetzwerke verwalten…</b><br /><br>
	<img src="images/windows/Wlan-3.PNG" width="70%"><br /><br></li>
	<li>…dann auf <b>Hinzufügen</b><br /><br>
	<img src="images/windows/Wlan-4.PNG" width="70%"><br /><br></li>
	<li>Im folgenden Fenster wählt man <b>Ein Netzwerkprofil manuell erstellen</b><br /><br>
	<img src="images/windows/Wlan-5.PNG" width="70%"><br /><br></li>
	<li>Als Netzwerkname trägt man <b>gympu</b> ein.<br>
	Der Sicherheitstyp ist <b>WPA2-Enterprise</b>.<br>
	Die Verschlüsselung bleibt auf <b>AES</b><br /><br>
	<img src="images/windows/Wlan-6.PNG" width="60%"><br /><br></li>
	<li>Nach dem Klicken auf <b>Weiter</b> gelangt man zu folgendem Fenster, in dem man auf <b>Verbindungseinstellungen ändern</b> klickt.</b><br /><br>
	<img src="images/windows/Wlan-7.PNG" width="60%"><br /><br></li>
	<li>Hier wählt man zuerst den Reiter <b>Sicherheit</b> aus.<br /><br>
	<img src="images/windows/Wlan-8.PNG" width="40%"><br /><br></li>
	<li>Dort wählt man <b>Einstellungen</b><br /><br>
	<img src="images/windows/Wlan-9.PNG" width="40%"><br /><br></li>
	<li>Das Häkchen bei <b>Serverzertifikate überprüfen</b> darf nicht gesetzt sein!<br>
	Anschließend klick auf <b>Konfigurieren...</b><br /><br>
	<img src="images/windows/Wlan-10.PNG" width="40%"><br /><br></li>
	<li>Das Häkchen in dem aufpoppenden Fenster muss entfernt werden, danach klick auf <b>Ok</b>.<br>
	In dem verbleibenden Fenster auch auf <b>Ok</b> klicken.<br /><br>
	<img src="images/windows/Wlan-11.PNG" width="40%"><br /><br></li>
	<li>Jetzt <b>Erweiterte Einstellungen</b> öffnen...<br /><br>
	<img src="images/windows/Wlan-9_2.PNG" width="40%"><br /><br></li>
	<li>…dort den Haken bei <b>Authentifizierungsmodus angeben</b> setzen und den Modus auf <b>Benutzerauthentifizierung</b> umstellen.<br /><br>
	<img src="images/windows/Wlan-12.PNG" width="40%"><br /><br></li>
	<li>Jetzt können alle Fenster mit Klick auf <b>Ok</b> geschlossen werden.<br><br>
	Rechts unten im Systemtray erscheint folgendes Popup, auf das man kickt:<br /><br>
	<img src="images/windows/Wlan-13.PNG" width="70%"><br /><br></li>
	<li>In das nun erscheinende Fenster gibt den Benutzernamen und das Passwort ein, das man auch an den Schulrechnern verwendet.<br /><br>
	<img src="images/windows/Wlan-14.PNG" width="40%"><br /><br></li>
	<li>Jetzt sollte sich Windows mit dem Wlan verbinden. Ob es geklappt hat, sieht man daran, dass das Netzwerksymbol aus mehreren weißen Balken in unterschiedlicher Größe besteht. <br>
	Möglicherweise ist anfangs ein kleines gelbes Dreieck mit Ausrufezeichen zu sehen, das sollte aber bald verschwinden. </li>
	<li>Wenn es Probleme geben sollte, bzw. wenn die Anleitung nicht zum Erfolg führt, wendet Euch natürlich an die Systemadministratoren (Leo Fellermayer Fl, Christian Spitschka, Tobias Heimbeck Hk)</li>
	
	<li><b>Viel Spaß beim Surfen!!</b></li>

</ol>
<br><br><br>
{$this->footer}