<div class="row">
    <div class="col-md-12">
        <div class="">

            <div class="">

                <div id=app></div>

                <script>
                    var globals = {
                        selfURL: "$selfURL",
                        apiURL: "$selfURL&task=",
                        acl: [],
                        pushActive: "$pushActive"
                    }
                </script>

                <script src=components/admin/push/dist/js/chunk-vendors.js></script>
                <script src=components/admin/push/dist/js/app.js></script>
                $html

            </div>
        </div>
    </div>
</div>