{$this->header}

{$this->topmenu}
<img src="images/smartnotebooklogo.png" width="30%" style="float: right;margin: 10px;">

<p><b>Als Lehrer können Sie SmartNotebook für die Unterrichtsvorbereitung verwenden.</b></p>

<p>Für die Unterrichtsvorbreitung können Sie die SmartNotebook 11.4 einsetzten.</p>
<p>Die Sofware läuft auf jedem Windows Computer und Mac Rechnern.</p>

<p><i class="fa fa-windows"></i> <a href="software/smartesi2013decusbv2.exe">Installationsdatei Windows (smartesi2013decusbv2.exe) - 437 MB</a></p>
<p><i class="fa fa-apple"></i> <a href="software/smartesi2013dec.dmg">Installationsdatei Mac (smartesi2013dec.dmg) - 532 MB</a></p>

<p>Zur Lizenzierung bitte folgenden Key eingeben:</p>

<p><i class="fa fa-key"></i> <code>NB-AEBSU-A2CWK-2YEET-MUDSD</code></p>
	
{$this->footer}