{$this->header}

	<div class="box">
		<div class="box-header flex-row flex-space-between">
			<h3 class="box-title flex-1 flex flex-center-center"><i class="fa fa-pie-chart"></i> Statistik</h3>
			<a href="index.php?page=absenzenstatistik&task=pdf" target="_blank" class="si-btn si-btn-light"><i class="fa fa-save"></i> Export</a>
		</div>

		<div class="box-body">
			<table id="schueler" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Schüler</th>
							<th>Klasse</th>
							<if(!DB::getSettings()->getBoolean('absenzen-has-fpa'))><then><th>Absenzentage Gesamt</th></then>
							<else><th>Absenzentage außerhalb des fpA</th>
							
							</else></if>
							<if(DB::getSettings()->getBoolean('absenzen-has-fpa'))><then><th>Absenzen im fpA</th></then></if>
							<th>Absenzentage (beurlaubt)</th>
							<th>Absenzentage (sonstige)</th>
							<th>Aufenthalte Krankenzimmer</th>
							<th>Befreiungen</th>
						</tr>
					</thead>
					<tbody>
						{$tableData}
					</tbody>
			</table>
		</div>
	</div>

<script src="cssjs/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="cssjs/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#schueler').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "pageLength": 20,
      "order": [[ 3, "desc" ]],
      "language": {
    		"sEmptyTable":   	"Keine Daten in der Tabelle vorhanden",
    		"sInfo":         	"_START_ bis _END_ von _TOTAL_ Einträgen",
    		"sInfoEmpty":    	"0 bis 0 von 0 Einträgen",
    		"sInfoFiltered": 	"(gefiltert von _MAX_ Einträgen)",
    		"sInfoPostFix":  	"",
    		"sInfoThousands":  	".",
    		"sLengthMenu":   	"_MENU_ Einträge anzeigen",
    		"sLoadingRecords": 	"Wird geladen...",
    		"sProcessing":   	"Bitte warten...",
    		"sSearch":       	"Suchen",
    		"sZeroRecords":  	"Keine Einträge vorhanden.",
    		"oPaginate": {
    			"sFirst":    	"Erste",
    			"sPrevious": 	"Zurück",
    			"sNext":     	"Nächste",
    			"sLast":     	"Letzte"
    		},
    		"oAria": {
    			"sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
    			"sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
    		}
      }
    });
  });
</script>

{$this->footer}