{$this->header}

<div class="box">
<div class="box-body">



<img src="images/windows10logo.png" width="10%" style="float: right;margin: 10px;">

<p>Hier gibt es Microsoft Software (z.B. Windows Server und Visual Studio und <b>Windows 10 Education</b>) kostenlos für Schüler / Lehrer.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Lizenzbedingungen: Die Software darf für <u>nichtkommerzielle</u> Zwecke privat genutzt werden. Eine Weitergabe der Software an andere Personen ist nicht gestattet. <b>Das Nutzungsrecht bleibt nach dem Ausscheiden aus der Schule erhalten.</b></p>
<p>Gesamte Lizenzbedingungen: <a href="http://www.microsoft.com/germany/visualstudio/techstudent/dreamspark/eula.aspx" target="_blank">Dreamspark EULA (Dreamspark Standard)</a></p>
<p><font color="red">$error</font></p>
<p><form action="index.php?page=dreamspark&dologin=1" method="post" target="_blank"><input type="submit" class="form-control" value="Hier klicken, um die Bedingungen zu akzeptieren und beim Shop anzumelden" /></form></p>
<p>Im Shop können alle Produkte gekauft und heruntergeladen werden. (Alle Produkte im Shop sind kostenlos, müssen aber dennoch "gekauft" werden.) </p>
</div>

</div>

{$this->footer}