{$this->header}

<div class="row">
	<div class="col-md-4">
		<div class="box">
			<div class="box-header"><h3 class="box-title"><i class="fa fa-info-circle"></i> Schuldaten und Schuladresse</h3></div>
			<div class="box-body">
				<b><expression>DB::getSettings()->getValue("schulinfo-name")</expression></b><br />
				<expression>DB::getSettings()->getValue("schulinfo-name-zusatz")</expression><br />
				<expression>DB::getSettings()->getValue("schulinfo-adresse1")</expression><br />
				<expression>DB::getSettings()->getValue("schulinfo-adresse2")</expression><br />
				<expression>DB::getSettings()->getValue("schulinfo-plz")</expression> <expression>DB::getSettings()->getValue("schulinfo-ort")</expression><br />
				
				<i class="fa fa-phone"></i> <expression>DB::getSettings()->getValue("schulinfo-telefon")</expression><br />
				<i class="fa fa-print"></i> <expression>DB::getSettings()->getValue("schulinfo-fax")</expression><br />
				
				<i class="fa fa-envelope-o"></i> <expression>DB::getSettings()->getValue("schulinfo-email")</expression><br />
				<i class="fa fa-link"></i> <a href="http://<expression>DB::getSettings()->getValue("schulinfo-homepage")</expression>" target="_blank"><expression>DB::getSettings()->getValue("schulinfo-homepage")</expression></a><br />
			</div>
		</div>
	</div>
	
	<if(DB::getSession()->isTeacher() || DB::getSession()->isAdmin() || DB::getSettings()->getBoolean("schulinfo-schulleiter-show"))>
	<then>
		<div class="col-md-4">
			<div class="box">
				<div class="box-header"><h3 class="box-title"><i class="fa fa-user-o"></i> Schulleitung</h3>
				<if(!DB::getSettings()->getBoolean("schulinfo-schulleiter-show"))><then>
					<small>Nicht für Eltern und Schüler sichtbar</small>
				</then></if>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<th style="width:40%">Name</th>
							<th>&nbsp;</th>
						</tr>
						$schulleitungHTML
					</table>
				</div>
			</div>
		</div>	
	</then></if>
	
	<div class="col-md-4">
			<div class="box">
				<div class="box-header"><h3 class="box-title"><i class="fa fa-user-o"></i> Statistik</h3></div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<td style="width:40%"><b>Anzahl der Schüler/innen</b></td>
							<td>$schuelerAnzahl</td>
						</tr>
						<tr>
							<td style="width:40%"><b>Anzahl der Klassen</b></td>
							<td>$klassenAnzahl<br />Im Schnitt $schuelerProKlasse Schüler/innen pro Klasse</td>
						</tr>
					</table>
				</div>
			</div>
	</div>
</div>
<div class="row">
		<div class="col-md-6">

	<if(DB::getSession()->isTeacher() || DB::getSession()->isAdmin() || DB::getSettings()->getBoolean("schulinfo-lehrer-show"))>
	<then>

			<div class="box">
				<div class="box-header"><h3 class="box-title"><i class="fa fa-user-o"></i> Lehrer</h3>
				<if(!DB::getSettings()->getBoolean("schulinfo-lehrer-show"))><then>
					<small>Nicht für Eltern und Schüler sichtbar</small>
				</then></if>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<th style="width:40%">Name</th>
							<th>&nbsp;</th>
						</tr>
						$lehrerHTML
					</table>
				</div>
			</div>

	</then></if>
	<if(DB::getSession()->isTeacher() || DB::getSession()->isAdmin() || DB::getSettings()->getBoolean("schulinfo-personalrat-show"))>
	<then>
			<div class="box">
				<div class="box-header"><h3 class="box-title"><i class="fa fa-user-o"></i> Personalrat</h3>
				<if(!DB::getSettings()->getBoolean("schulinfo-personalrat-show"))><then>
					<small>Nicht für Eltern und Schüler sichtbar</small>
				</then></if>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<th style="width:40%">Name</th>
							<th>&nbsp;</th>
						</tr>
						$personalratHTML
					</table>
				</div>
			</div>
			

		
		
	</then></if>
			</div>
	
	
		<if(DB::getSession()->isTeacher() || DB::getSession()->isAdmin() || DB::getSettings()->getBoolean("schulinfo-faecher-show"))>
	<then>
		<div class="col-md-6">
			<div class="box">
				<div class="box-header"><h3 class="box-title"><i class="fa fa-user-o"></i> Fächer</h3>
				<if(!DB::getSettings()->getBoolean("schulinfo-faecher-show"))><then>
					<small>Nicht für Eltern und Schüler sichtbar</small>
				</then></if>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<th style="width:40%">Fach</th>
							<if(DB::getSession()->isTeacher() || DB::getSession()->isAdmin() || DB::getSettings()->getBoolean("schulinfo-fachlehrer-show"))>
								<then>
									<th>Fachlehrer
										<if(!DB::getSettings()->getBoolean("schulinfo-fachlehrer-show"))><then>
											<small>Nicht für Eltern und Schüler sichtbar</small>
										</then></if>
									
									</th>
								</then>
							</if>
							<if(DB::getSession()->isTeacher() || DB::getSession()->isAdmin() || DB::getSettings()->getBoolean("schulinfo-fachbetreuer-show"))>
								<then>
									<th>Fachbetreuer
										 <if(!DB::getSettings()->getBoolean("schulinfo-fachbetreuer-show"))><then>
											<small>Nicht für Eltern und Schüler sichtbar</small>
										</then></if>
									
									
									</th>
								</then>
							</if>
						</tr>
						$facherHTML
					</table>
				</div>
			</div>
		</div>	
	</then></if>

</div>

{$this->footer}