<html>
	<head>
		<style>
		
			h3 {
				font-family: Arial;
				font-size: 15 pt;
				text-align: center;
			}
			
			.gewaehr {
				font-family: Arial;
				font-size: 8 pt;
				text-align: center;
			}
			
			.stand {
				font-family: Arial;
				font-size: 10 pt;
				text-align: center;
			}
			
			td {
				font-family: Arial;
				font-size: 12 pt;
				font-style: bold;
			}
			
			body {
				font-family: Arial;
				font-size: 12 pt;
			}
			
			
		</style>
	</head>
	<body>
		<div class="logo"><img src="<expression>DB::getGlobalSettings()->urlToIndexPHP</expression>?page=printSettings&action=GetPrintHeader"></div>
		
		<h2>Zugang zum Portal <expression>DB::getGlobalSettings()->siteNamePlain</expression></h2>
		
		
		$text	
	</body>
</html>