<div class="box">
    <div class="box-header"><h3 class="box-title"><i class="fa fa-code"></i> Update heruntergeladen</h3></div>
    <div class="box-body">
        <ul>
            <li>Das Update wurde heruntergeladen</li>
            <li>Das Portal wurde in den Wartungsmodus versetzt</li>
        </ul>

        Um Das Update jetzt zu installieren, klicken Sie bitte hier:

        <br /><br />

        <button class="btn btn-primary btn-lg btn-block" id="doUpdateButton"><i class="fa fa-upload"></i> Update durchführen</button>
    </div>
</div>


<script>


    $("#doUpdateButton").click(function() {
        $("#doUpdateButton").attr("disabled", true);
        $("#doUpdateButton").html("<i class=\"fa fas fa-sync-alt fa-spin\"></i> Bitte warten ...");
        window.location.href='update.php?key={$random}';
    });
</script>