<div class="box">
    <div class="box-header"><h3 class="box-title"><i class="fa fa-code"></i> Versioninfo</h3></div>
    <div class="box-body">
        Aktuell installierte Version: <pre>$currentVersion</pre>
        Versionsinfo:
        <pre>$versionInfoText</pre>
        <div class="callout callout-info"><i class="fa fa-exclamation-circle"></i> Es ist eine neue Version verfügbar</div>
    </div>
</div>

<div class="box">
    <div class="box-header"><h3 class="box-title"><i class="fa fa-code"></i> Update durchführen</h3></div>
    <div class="box-body">
        Neue Version: <pre>$newVersionNumber</pre>
        Versionsinfo:
        <pre>$newVersionText</pre>

        <form action="$selfURL&doUpdate=1" method="post" id="updateForm">
            <button type="button" class="btn btn-primary btn-block" id="updateSubmitButton"><i class="fa fa-download"></i> Update durchführen</button>
        </form>

    </div>
</div>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });

    $(document).ready(function () {
        $("#updateForm").click( function() {
            confirmAction("Soll das Update durchgeführt werden und haben Sie ein Backup durchgeführt?",null, function() {
                $("#updateSubmitButton").attr("disabled", true);
                $("#updateSubmitButton").html("<i class=\"fa fa-refresh fa-spin\"></I> Bitte warten ...");
               $("#updateForm").submit();
            })
        });
    });
</script>
