<div style="text-align: center"><h1>Auftragsverarbeitungsvertrag</h1>
<h3>nach Art. 28 Abs. 3 Datenschutz-Grundverordnung (DS-GVO)</h3></div>

<p>Zwischen:<br />

Spitschka IT Solutions<br />
Inhaber: Christian Spitschka<br />
Etterschlager Str. 9<br />
82234 Weßling, Deutschland<br />
nachfolgend Auftragnehmer (Auftragsverarbeiter)</p>
<p>und</p>
<p>
<expression>nl2br($this->getContractPartner())</expression><br />
nachfolgende Auftraggeber (Verantwortlicher)</p>

<b>1.Gegenstand und Dauer der Vereinbarung</b>
<p>
Der Auftrag umfasst Folgendes:
<br />
Bereistellung eines Online Portals zur Schulverwaltung und Schulorganisation. (Für Lehrer, Schüler und Eltern / Erziehungsberechtigte.)
</p>
<p>Der Auftragnehmer verarbeitet dabei personenbezogene Daten für den Auftraggeber im Sinne von
Art. 4 Nr. 2 und Art. 28 DS-GVO auf Grundlage dieses Vertrages.</p>
<p>Die vertraglich vereinbarte Dienstleistung wird ausschließlich in einem Mitgliedsstaat der Europäischen
Union oder in einem Vertragsstaat des Abkommens über den Europäischen Wirtschaftsraum
erbracht. Jede Verlagerung der Dienstleistung oder von Teilarbeiten dazu in ein Drittland bedarf der
vorherigen Zustimmung des Auftraggebers und darf nur erfolgen, wenn die besonderen Voraussetzungen
der Art. 44 ff. DS-GVO erfüllt sind (z. B. Angemessenheitsbeschluss der Kommission, Standarddatenschutzklauseln,
genehmigte Verhaltensregeln).</p>
<p>Dauer des Auftrags<br />

<if($this->isAutoRenew())><then>

Der Vertrag wird auf unbestimmte Zeit geschlossen. Vertragsbeginn ist <expression>DateFunctions::getNaturalDateFromMySQLDate($this->getContractStartDate())</expression>. Die Kündigungsfrist beträgt 4 Wochen.
</then>
<else>

Der Vertrag beginnt am <expression>DateFunctions::getNaturalDateFromMySQLDate($this->getContractStartDate())</expression> 
und endet am <expression>DateFunctions::getNaturalDateFromMySQLDate($this->getContractEnd())</expression> 

</else>
</if>
</p>

<b>2. Art und Zweck der Verarbeitung, Art der personenbezogenen Daten sowie Kategorien
betroffener Personen:</b>
<p>Art der Verarbeitung (entsprechend der Definition von Art. 4 Nr. 2 DS-GVO):<br />
Automatische Verarbeitung, Erhebung, Erfassung, Organisation, Speichern von personenbezogenen Daten.
</p>

<p>Art der personenbezogenen Daten (entsprechend der Definition von Art. 4 Nr. 1, 13, 14 und 15 DSGVO):
Personenbezogende Daten
<ul>
	<li>Name, Vorname</li>
	<li>Adressen</li>
	<li>E-Mailadressen</li>
	<li>Telefonnummern</li>
	<li>Noten</li>
	<li>Abwesenheitstage</li>
	<li>Beurlaubungen</li>
	<li>Fotos</li>
	<li>Aktennotizen</li>
	<li>Inhalte einer Schülerakte</li>
	<li>Inhalte einer Personalakte</li>
	<li>Daten aus der ASV Bayern</li>	
</ul></p>

<p>Kategorien betroffener Personen (entsprechend der Definition von Art. 4 Nr. 1 DS-GVO):<br />
Schüler, Eltern, Verwaltungspersonal der Schule und Lehrer.</p>

<b>3. Rechte und Pflichten sowie Weisungsbefugnisse des Auftraggebers </b>
<p>Für die Beurteilung der Zulässigkeit der Verarbeitung gemäß Art. 6 Abs. 1 DS-GVO sowie für die Wahrung
der Rechte der betroffenen Personen nach den Art. 12 bis 22 DS-GVO ist allein der Auftraggeber
verantwortlich. Gleichwohl ist der Auftragnehmer verpflichtet, alle solche Anfragen, sofern sie erkennbar
ausschließlich an den Auftraggeber gerichtet sind, unverzüglich an diesen weiterzuleiten.
Änderungen des Verarbeitungsgegenstandes und Verfahrensänderungen sind gemeinsam zwischen
Auftraggeber und Auftragnehmer abzustimmen und schriftlich oder in einem dokumentierten elektronischen
Format festzulegen.</p>
<p>Der Auftraggeber erteilt alle Aufträge, Teilaufträge und Weisungen in der Regel schriftlich oder in
einem dokumentierten elektronischen Format. Mündliche Weisungen sind unverzüglich schriftlich
oder in einem dokumentierten elektronischen Format zu bestätigen.</p> 
<p>Der Auftraggeber ist berechtigt, sich wie unter Nr. 5 festgelegt vor Beginn der Verarbeitung und sodann
regelmäßig in angemessener Weise von der Einhaltung der beim Auftragnehmer getroffenen
technischen und organisatorischen Maßnahmen sowie der in diesem Vertrag festgelegten Verpflichtungen
zu überzeugen.</p>
<p>Der Auftraggeber informiert den Auftragnehmer unverzüglich, wenn er Fehler oder Unregelmäßigkeiten
bei der Prüfung der Auftragsergebnisse feststellt.</p>
<p>Der Auftraggeber ist verpflichtet, alle im Rahmen des Vertragsverhältnisses erlangten Kenntnisse von
Geschäftsgeheimnissen und Datensicherheitsmaßnahmen des Auftragnehmers vertraulich zu behandeln.
Diese Verpflichtung bleibt auch nach Beendigung dieses Vertrages bestehen.</p>

<b>4. Weisungsberechtigte des Auftraggebers, Weisungsempfänger des Auftragnehmers</b>
<p>Weisungsberechtigte Personen des Auftraggebers sind:<br />
Die oder der amtierende Datenschutzbeauftragte der Schule.</p>
<p>Weisungsempfänger beim Auftragnehmer sind:<br />
Christian Spitschka, Inhaber, 08153 / 9212662</p>
<p>Für Weisung zu nutzende Kommunikationskanäle:<br />
Etterschlager Str. 9; 82234 Weßling; info@spitschka.com; 08153 / 9212662</p>
<p>Bei einem Wechsel oder einer längerfristigen Verhinderung der Ansprechpartner sind dem Vertragspartner
unverzüglich und grundsätzlich schriftlich oder elektronisch die Nachfolger bzw. die Vertreter
mitzuteilen. Die Weisungen sind für ihre Geltungsdauer und anschließend noch für drei volle Kalenderjahre
aufzubewahren. </p>

<b>5. Pflichten des Auftragnehmers</b>
<p>Der Auftragnehmer verarbeitet personenbezogene Daten ausschließlich im Rahmen der getroffenen
Vereinbarungen und nach Weisungen des Auftraggebers, sofern er nicht zu einer anderen Verarbeitung
durch das Recht der Union oder der Mitgliedstaaten, dem der Auftragsverarbeiter unterliegt,
hierzu verpflichtet ist (z. B. Ermittlungen von Strafverfolgungs- oder Staatsschutzbehörden); in einem
solchen Fall teilt der Auftragsverarbeiter dem Verantwortlichen diese rechtlichen Anforderungen vor
der Verarbeitung mit, sofern das betreffende Recht eine solche Mitteilung nicht wegen eines wichtigen
öffentlichen Interesses verbietet (Art. 28 Abs. 3 Satz 2 lit. a DS-GVO). </p>
<p>Der Auftragnehmer verwendet die zur Verarbeitung überlassenen personenbezogenen Daten für
keine anderen, insbesondere nicht für eigene Zwecke. Kopien oder Duplikate der personenbezogenen
Daten werden ohne Wissen des Auftraggebers nicht erstellt. 
</p>
<p>Der Auftragnehmer sichert im Bereich der auftragsgemäßen Verarbeitung von personenbezogenen
Daten die vertragsgemäße Abwicklung aller vereinbarten Maßnahmen zu. Er sichert zu, dass die für
den Auftraggeber verarbeiteten Daten von sonstigen Datenbeständen strikt getrennt werden. </p>
<p>Die Datenträger, die vom Auftraggeber stammen bzw. für den Auftraggeber genutzt werden, werden
besonders gekennzeichnet. Eingang und Ausgang sowie die laufende Verwendung werden dokumentiert.</p>

<p>Bei der Erfüllung der Rechte der betroffenen Personen nach Art. 12 bis 22 DS-GVO durch den Auftraggeber, an der
Erstellung der Verzeichnisse von Verarbeitungstätigkeiten sowie bei erforderlichen Datenschutz-Folgeabschätzungen
des Auftraggebers hat der Auftragnehmer im notwendigen Umfang mitzuwirken und den Auftraggeber soweit möglich
angemessen zu unterstützen (Art. 28 Abs. 3 Satz 2 lit. e und f DS-GVO). Er hat die dazu erforderlichen Angaben jeweils
unverzüglich an den Weisungsberechtigten des Auftraggebers weiterzuleiten.</p>

<p>Der Auftragnehmer wird den Auftraggeber unverzüglich darauf aufmerksam machen, wenn eine vom Auftraggeber
erteilte Weisung seiner Meinung nach gegen gesetzliche Vorschriften verstößt (Art. 28 Abs. 3 Satz 3 DS-GVO). Der
Auftragnehmer ist berechtigt, die Durchführung der entsprechenden Weisung solange auszusetzen, bis sie durch den
Verantwortlichen beim Auftraggeber nach Überprüfung bestätigt oder geändert wird.</p>

<p>Der Auftragnehmer hat personenbezogene Daten aus dem Auftragsverhältnis zu berichtigen, zu löschen oder deren
Verarbeitung einzuschränken, wenn der Auftraggeber dies mittels einer Weisung verlangt und berechtigte Interessen
des Auftragnehmers dem nicht entgegenstehen. Auskünfte über personenbezogene Daten aus dem Auftragsverhältnis
an Dritte oder den Betroffenen darf der Auftragnehmer nur nach vorheriger Weisung oder Zustimmung durch den
Auftraggeber erteilen. Gesetzliche Verpflichtungen zur Auskunftserteilung bleiben unberührt.
</p>

<p>Der Auftragnehmer stellt dem Auftraggeber alle erforderlichen Informationen zum Nachweis der Einhaltung der in
Art. 28 DS-GVO niedergelegten Pflichten zur Verfügung. Er ermöglicht Überprüfungen – einschließlich Inspektionen –, die
vom Auftragnehmer oder einem anderen von diesem beauftragten Prüfer durchgeführt werden.</p>

<p>Der Auftragnehmer verpflichtet sich, auch die Geheimnisschutzregeln zu beachten, die dem Auftraggeber obliegen.</p>

<p>Der Auftragnehmer verpflichtet sich, bei der auftragsgemäßen Verarbeitung der personenbezogenen Daten des
Auftraggebers die Vertraulichkeit zu wahren. Diese besteht auch nach Beendigung des Vertrages fort.</p>

<p>Der Auftragnehmer sichert zu, dass er die bei der Durchführung der Arbeiten beschäftigten Mitarbeiter vor
Aufnahme der Tätigkeit mit den für sie maßgebenden Bestimmungen des Datenschutzes vertraut macht und für die Zeit
ihrer Tätigkeit wie auch nach Beendigung des Beschäftigungsverhältnisses in geeigneter Weise zur Verschwiegenheit
verpflichtet (Art. 28 Abs. 3 Satz 2 b und Art. 29 DS-GVO). Der Auftragnehmer überwacht die Einhaltung der datenschutzrechtlichen
Vorschriften in seinem Betrieb.</p>

<b>6. Mitteilungspflichten des Auftragnehmers bei Störungen der Verarbeitung und bei Verletzungen des Schutzes
personenbezogener Daten</b>

<p>Der Auftragnehmer teilt dem Auftraggeber unverzüglich Störungen, Verstöße des Auftragnehmers
oder der bei ihm beschäftigten Personen sowie gegen datenschutzrechtliche Bestimmungen oder die
im Auftrag getroffenen Festlegungen sowie den Verdacht auf Datenschutzverletzungen oder Unregelmäßigkeiten
bei der Verarbeitung personenbezogener Daten mit. Dies gilt vor allem auch im Hinblick
auf eventuelle Melde- und Benachrichtigungspflichten des Auftraggebers nach Art. 33 und Art.
34 DS-GVO. Der Auftragnehmer sichert zu, den Auftraggeber erforderlichenfalls bei seinen Pflichten
nach Art. 33 und 34 DS-GVO angemessen zu unterstützen (Art. 28 Abs. 3 Satz 2 lit. f DS-GVO). Meldungen
nach Art. 33 oder 34 DS-GVO für den Auftraggeber darf der Auftragnehmer nur nach vorheriger
Weisung gem. Ziff. 4 dieses Vertrages durchführen.</p>

<b>7. Unterauftragsverhältnisse mit Subunternehmern (Art. 28 Abs. 3 Satz 2 lit. d DS-GVO)</b>
<p>Die Beauftragung von Subunternehmern zur Verarbeitung von Daten des Auftraggebers ist dem Auftragnehmer
nur mit Genehmigung des Auftraggebers gestattet, Art. 28 Abs. 2 DS-GVO, welche auf
einem der o. g. Kommunikationswege (Ziff. 4) mit Ausnahme der mündlichen Gestattung erfolgen
muss. Die Zustimmung kann nur erteilt werden, wenn der Auftragnehmer dem Auftraggeber Namen
und Anschrift sowie die vorgesehene Tätigkeit des Subunternehmers mitteilt. Außerdem muss der
Auftragnehmer dafür Sorge tragen, dass er den Subunternehmer unter besonderer Berücksichtigung
der Eignung der von diesem getroffenen technischen und organisatorischen Maßnahmen im Sinne
von Art. 32 DS-GVO sorgfältig auswählt. Die relevanten Prüfunterlagen dazu sind dem Auftraggeber
auf Anfrage zur Verfügung zu stellen.</p>
<p>Eine Beauftragung von Subunternehmern in Drittstaaten darf nur erfolgen, wenn die besonderen
Voraussetzungen der Art. 44 ff. DS-GVO erfüllt sind (z. B. Angemessenheitsbeschluss der Kommission,
Standarddatenschutzklauseln, genehmigte Verhaltensregeln).</p>
<p>Der Auftragnehmer hat vertraglich sicherzustellen, dass die vereinbarten Regelungen zwischen Auftraggeber
und Auftragnehmer auch gegenüber Subunternehmern gelten. In dem Vertrag mit dem
Subunternehmer sind die Angaben so konkret festzulegen, dass die Verantwortlichkeiten des Auftragnehmers
und des Subunternehmers deutlich voneinander abgegrenzt werden. Werden mehrere
Subunternehmer eingesetzt, so gilt dies auch für die Verantwortlichkeiten zwischen diesen Subunternehmern.
Insbesondere muss der Auftraggeber berechtigt sein, im Bedarfsfall angemessene
Überprüfungen und Inspektionen, auch vor Ort, bei Subunternehmern durchzuführen oder durch von
ihm beauftragte Dritte durchführen zu lassen. </p>

<p>Der Vertrag mit dem Subunternehmer muss schriftlich abgefasst werden, was auch in einem elektronischen
Format erfolgen kann (Art. 28 Abs. 4 und Abs. 9 DS-GVO).
Die Weiterleitung von Daten an den Subunternehmer ist erst zulässig, wenn der Subunternehmer die
Verpflichtungen nach Art. 29 und Art. 32 Abs. 4 DS-GVO bezüglich seiner Beschäftigten erfüllt hat. 
</p>

<p>Der Auftragnehmer hat die Einhaltung der Pflichten des/der Subunternehmer(s) wie folgt zu überprüfen:<br />
Einsicht in die Audits des Auftragnehmers.<br />
Das Ergebnis der Überprüfungen ist zu dokumentieren und dem Auftraggeber auf Verlangen zugänglich
zu machen. </p>

<p>Der Auftragnehmer haftet gegenüber dem Auftraggeber dafür, dass der Subunternehmer den Datenschutzpflichten
nachkommt, die ihm durch den Auftragnehmer im Einklang mit dem vorliegenden
Vertragsabschnitt vertraglich auferlegt wurden. </p>

<p>Zurzeit sind für den Auftragnehmer folgende mit Namen, Anschrift und Auftragsinhalt bezeichneten
Subunternehmer mit der Verarbeitung von personenbezogenen Daten in dem dort genannten
Umfang beschäftigt. Mit deren Beauftragung erklärt sich der Auftraggeber einverstanden. 

<ul>
	<li><b>Webhosting, Server</b><br />
	Neue Medien Münnich GmbH<br />
v.d.d. Geschäftsführer René Münnich<br />
Hauptstraße 68, 02742 Friedersdorf<br />
Deutschland</li>

	<li><b>SMS Versand</b><br />
	MessageBird B.V.<br />
	Baarsjesweg 285<br />
	1058 AE Amsterdam<br />
	Niederlande</li>
</ul>

<p>Der Auftragsverarbeiter informiert den Verantwortlichen immer über jede beabsichtigte Änderung in
Bezug auf die Hinzuziehung neuer oder die Ersetzung bisheriger Subunternehmer, wodurch der Auftraggeber
die Möglichkeit erhält, gegen derartige Änderungen Einspruch zu erheben (§ 28 Abs. 2 Satz
2 DS-GVO). </p>

<b>8. Technische und organisatorische Maßnahmen nach Art. 32 DS-GVO (Art. 28 Abs. 3 Satz 2 lit. c DS-GVO)</b>

<p>Es wird für die konkrete Auftragsverarbeitung ein dem Risiko für die Rechte und Freiheiten der von der Verarbeitung
betroffenen natürlichen Personen angemessenes Schutzniveau gewährleistet. Dazu werden die Schutzziele von Art. 32
Abs. 1 DS-GVO, wie Vertraulichkeit, Integrität und Verfügbarkeit der Systeme und Dienste sowie deren Belastbarkeit in
Bezug auf Art, Umfang, Umstände und Zweck der Verarbeitungen derart berücksichtigt, dass durch geeignete technische
und organisatorische Abhilfemaßnahmen das Risiko auf Dauer eingedämmt wird.</p>
<p>Das in Anlage 1 beschriebene Datenschutzkonzept (Technische und organisatorische Maßnahmen) stellt die
Auswahl der technischen und organisatorischen Maßnahmen dar. Diese passen zum ermittelten Risiko unter Berücksichtigung
der Schutzziele nach Stand der Technik und unter besonderer Berücksichtigung der eingesetzten IT-Systeme und
Verarbeitungsprozesse beim Auftragnehmer. Unbeschadet bleibt die Verantwortung des Auftraggebers (vgl. Ziffer 8.6).</p>
<p> Soweit die beim Auftragnehmer getroffenen Maßnahmen den Anforderungen des Auftraggebers nicht genügen,
benachrichtigt er den Auftraggeber unverzüglich.</p>
<p>Die Maßnahmen beim Auftragnehmer können im Laufe des Auftragsverhältnisses der technischen und organisatorischen
Weiterentwicklung angepasst werden, dürfen aber die vereinbarten Standards nicht unterschreiten.</p>
<p>Die technischen und organisatorischen Maßnahmen kann der Auftragnehmer nach eigenem pflichtgemäßen
Ermessen der technischen und organisatorischen Weiterentwicklung anpassen.</p>


<b>9. Verpflichtungen des Auftragnehmers nach Beendigung des Auftrags, Art. 28 Abs. 3 Satz 2 lit. g DS-GVO</b>
<p>Nach Abschluss der vertraglichen Arbeiten hat der Auftragnehmer sämtliche in seinem Besitz sowie an Subunternehmen
gelangte Daten, Unterlagen und erstellte Verarbeitungs- oder Nutzungsergebnisse, die im Zusammenhang mit
dem Auftragsverhältnis stehen, datenschutzgerecht zu löschen bzw. zu vernichten/vernichten zu lassen.</p>
<p>Unbeschadet von Ziffer 9.1 bleibt die Verpflichtung des Auftraggebers aus dem Hauptvertrag, den zum Gebrauch
überlassenen Speicherplatz mit Beendigung des Hauptvertrags im gelöschten Zustand an den Auftragnehmer zurückzugeben.</p>

<b>10. Vergütung</b>
<p>Der Abschluss des Auftragsverarbeitungsvertrages nach Vorlage ist kostenfrei.</p>
<p>
<if(DB::isTestversion())><then>
Für die Bereitstellung der Testversion ist für die Dauer der Testversion kostenlos.
</then><else>
Die Vergütung richtet sich nach dem Auftragsblatt des SaaS Vertrages.
</else></if></if(DB::isTestversion())>

<p>Für Tätigkeiten nach Ziffer 2 (Ausführung spezieller
Weisungen):<br />
Erfolgen Tätigkeiten der Verarbeitung des
Auftragnehmers im Datenbestand des Kunden durch
technische Zugriffe auf ausdrücklichen Wunsch und
nach Weisung des Kunden, so weist der Auftragnehmer
den Kunden auf eine eventuelle Kostenpflicht vor
Annahme und Durchführung des Auftrags hin und
vereinbart die Vergütung hierfür. Alle übrigen
Leistungen des Kunden-Support sind in der Vergütung
des Tarifs gemäß Hauptvertrag inbegriffen.</p>
<p>Für Tätigkeiten nach Ziffer 5.9 des
Auftragsverarbeitungsvertrags (Überprüfungen/
Inspektionen):<br />Für die Mitwirkung eines Beschäftigten bei
Überprüfungen/Inspektionen beim Auftragnehmer vor
Ort ist der Auftragnehmer berechtigt, dem Kunden eine
zeitaufwandsabhängige Vergütung nach einem
Stundensatz in Höhe von 220,00 Euro (inkl. der
gesetzlichen Umsatzsteuer) zu berechnen.</p>

<b>11. Haftung</b>
<p>Auf Art. 82 DS-GVO wird verwiesen.</p>

<b>12. Vertragsstrafe</b>
<p>Bei Verstoß des Auftragnehmers gegen die Regelungen dieses Vertrages, insbesondere zur Einhaltung
des Datenschutzes, wird eine Vertragsstrafe von 300 Euro vereinbart.</p>

<b>13. Sonstiges</b>

<p>Vereinbarungen zu den technischen und organisatorischen Maßnahmen sowie Kontroll- und Prüfungsunterlagen
(auch zu Subunternehmen) sind von beiden Vertragspartnern für ihre Geltungsdauer und anschließend noch für drei volle
Kalenderjahre aufzubewahren.</p>

<p> Für Nebenabreden ist grundsätzlich die Schriftform oder ein dokumentiertes elektronisches Format erforderlich.</p>

<p>Sollte das Eigentum oder die zu verarbeitenden personenbezogenen Daten des Auftraggebers beim Auftragnehmer
durch Maßnahmen Dritter (etwa durch Pfändung oder Beschlagnahme), durch ein Insolvenz- oder Vergleichsverfahren
oder durch sonstige Ereignisse gefährdet werden, so hat der Auftragnehmer den Auftraggeber unverzüglich zu
verständigen.
</p>
<p>Sollten einzelne Teile dieser Vereinbarung unwirksam sein, so berührt dies die Wirksamkeit der Vereinbarung im
Übrigen nicht.</p>

<p>Diese Vereinbarung unterliegt deutschem Recht.</p>

<p>Ab dem Zeitpunkt des Zustandekommens dieser Vereinbarung werden Verträge über die Auftrags(daten)vereinbarung,
die zwischen den Parteien bis zu diesem Zeitpunkt bestehen, durch diese Vereinbarung mit Wirkung für die
Zukunft ersetzt.</p>

<div style="page-break-after:always">

<p>Anlage 1 - Technische und organisatorische Maßnahmen Auftragsverarbeitung</p>

<p>Datum: <expression>DateFunctions::getNaturalDateFromMySQLDate($this->getContractStartDate())</expression></p>


<p>
<expression>nl2br($this->getContractPartner())</expression><br />
Auftraggeber</p>

<p>Spitschka IT Solutions<br />
Inhaber: Christian Spitschka<br />
Etterschlager Str. 9<br />
82234 Weßling, Deutschland<br />
Auftragnehmer</p>

</div>

<b>Anlage 1</b>

<div style="text-align:center">
<h3>Technische und organisatorische Maßnahmen
Auftragsverarbeitungsvertrag<br />
Art. 32 Abs. 2 DS-GVO</h3></div>

<p>0 Auftragsverarbeiter</p>
<p>0.1 Auftragsverarbeiter ist<br />
Spitschka IT Solutions<br />
Christian Spitschka<br />
Etterschlager Str. 9<br />
82234 Weßling
<p>0.2 Der Auftragsverarbeiter (Auftragnehmer des Auftragsverarbeitungsvertrags) hat unter Berücksichtigung des Stands
der Technik, der Implementierungskosten, der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie
der Eintrittswahrscheinlichkeit und der Schwere der mit der Verarbeitung verbundenen Gefahren für die Rechtsgüter der
betroffenen Personen die für eine Auftragsverarbeitung erforderlichen technischen und organisatorischen Maßnahmen
getroffen, um bei der (Auftrags-)Verarbeitung personenbezogener Daten ein dem Risiko angemessenes Schutzniveau zu
gewährleisten, insbesondere im Hinblick auf die (Auftrags-)Verarbeitung besonderer Kategorien personenbezogener
Daten.</p>
<p>0.3 Die nachstehenden entsprechend dem Katalog aus § 64 BDSG (2017) beschriebenen Maßnahmen beziehen sich auf
ergriffene Maßnahmen, die im Rahmen der Auftragsverarbeitung erforderlich sind. Aus Sicherheitsgründen erfolgt
nachstehend nur eine allgemeine Beschreibung. Viele dieser Maßnahmen trifft der Subunternehmer Neue Medien Münnich GmbH. (v.A. Sicherheit im Rechenzentrum)</p>
<p>0.4 Sämtliche getroffenen Maßnahmen bauen auf der Mitverantwortung des Kunden (Auftraggeber des Auftragsverarbeitungsvertrags)
auf. Die Zwecke des „ob“ und des „wie“ der Nutzung bestimmt ausschließlich der Kunde. Entsprechendes
gilt für den zur Verfügung gestellten E-Mail-Server und die sonstigen technischen Dienste. Demzufolge hat der Auftragsverarbeiter
zunächst originär keine vertragliche Befugnis, auf diese Daten des Kunden zuzugreifen, selbst wenn dies
technisch möglich ist. Die erforderliche Software zur Datenverarbeitung wird durch den Kunden auf dem ihm
zugewiesenen Speicherplatz hochgeladen bzw. dort aktiviert. Der Auftragsverarbeiter sorgt lediglich für die technische
Einsatzbereitschaft der IT-Systeme entsprechend den vertraglichen Vereinbarungen. Der Kunde ist folglich im Rahmen
der durch ihn durchgeführten Datenverarbeitungen der „Herr der Daten“.</p>
<p>0.5. Ausnahmsweise jedoch nimmt der Auftragsverarbeiter im Rahmen der getroffenen Vereinbarung zur Auftragsverarbeitung
Weisungen des Kunden entgegen und verarbeitet nur dann personenbezogene Daten des Kunden auf den
diesem zur Nutzung überlassenen IT-Systemen in dessen Auftrag und aufgrund dessen Weisung.</p>
<p><i>Vertraulichkeit</i></p>
<p>1 Zutrittskontrolle<br />
Gewährleistungsziel: Verwehrung des Zutritts zu Verarbeitungsanlagen, mit denen die (Auftrags-) Verarbeitung
durchgeführt wird, für Unbefugte.<br />
Getroffene Maßnahmen:<br />
1.1 Das Rechenzentrum und das Servicezentrum befinden sich in Deutschland (Dresden und Friedersdorf). Das
Webhosting erfolgt ausschließlich auf Datenspeichern, die physikalisch in Deutschland gelegen sind.<br />
1.2 Elektronische Zutrittskontrollsysteme und Personal überwachen und gewährleisten den autorisierten Zutritt zum
Rechenzentrum, in welchem die IT-Systeme für den Kunden vorgehalten werden, sowie zum Servicezentrum aus
welchem die IT-Systeme administriert werden.<br />
1.3 Zutritte von Besuchern werden stets durch Beschäftigte des Auftragsverarbeiters begleitet. Das Rechenzentrum ist
24/7 durch Beschäftigte besetzt. Unbegleitete Zutritte sind nicht möglich.
1.4 Es sind Videokameras zur Überwachung des Zutritts und Einbruchs- bzw. Kontaktmelder im Einsatz.<br />
1.5 Zutrittsberechtigte Beschäftigte sind organisatorisch festgelegt, Magnetkarten bzw. Schlüssel werden nur
entsprechend einer Organisationsanweisung vergeben. Über den Zutritt von Besuchern des Rechenzentrums werden
Anwesenheitslisten geführt, Regelungen für Fremdpersonal und zur Begleitung von Gästen sind vorhanden.<br />
2 Zugangskontrolle<br />
Gewährleistungsziel: Verwehrung des Zugangs zu Datenverarbeitungssystemen, mit denen die (Auftrags-) Verarbeitung
durchgeführt wird, für Unbefugte.<br />
Getroffene Maßnahmen:<br />
2.1 Der Zugang zu Datenverarbeitungssystemen ist nur durch Authentifizierung möglich, wenigstens durch ein System
von Benutzername und Passwort.<br />
2.2. Im Übrigen sind Zugänge durch ein Berechtigungskonzept (abgestufte Zugriffsberechtigungen) nur besonders autorisierten
Beschäftigten vorbehalten.</p>
<p>3 Datenträgerkontrolle<br />
Gewährleistungsziel: Verhinderung des unbefugten Lesens, Kopierens, Veränderns oder Löschens von Datenträgern.
Getroffene Maßnahmen:<br />
3.1 S.o. Ziffer 2.1 und 2.2.<br />
3.2 Soweit auf Weisung des Kunden Daten im Auftrag verarbeitet und personenbezogene Daten auf FestplattenSpeicherplätzen
als Datenträger gespeichert sind, erfolgen Zugriffe des Auftragsverarbeiters durch ein System von
Befugnissen abgestufter Zugriffsberechtigungen durch die Beschäftigten in den Abteilungen Technik (Administration),
Support, Domainverwaltung und Kundenbuchhaltung. Berechtigungsbewilligung (organisatorisch) und Berechtigungsvergabe
(technisch) sind getrennt. Der Zugriff entsprechend Berechtigung wird auch bei Verfahren zur Wiederherstellung
von Daten aus Backups gewahrt. Test- und Produktionsumgebung sind getrennt.<br />
3.3 Einige Daten (z.B. Passwörter oder Kontodaten) werden verschlüsselt in der Datenbank abgelegt.</p>
<p>4 Speicherkontrolle<br />
Gewährleistungsziel: Verhinderung der unbefugten Eingabe von personenbezogenen Daten sowie der unbefugten
Kenntnisnahme, Veränderung und Löschung von gespeicherten personenbezogenen Daten.<br />
Getroffene Maßnahmen:<br />
4.1 Die Bereitstellung der dem Kunden zur Nutzung überlassenen IT-Systeme des Auftragsverarbeiters und die
Anbindungen des Kunden an das Internet erfolgt außerhalb eines Weisungsrechts des Kunden ausschließlich in Verantwortung
des Auftragsverarbeiters.<br />
4.2 Der Zugang des Kunden auf die Datenspeicher des Auftragsverarbeiters, mit welchen die Webhosting-Dienstleistungen
erbracht werden, erfolgt ausschließlich von außerhalb der Betriebsgebäude über Datenleitungen bzw. das
Internet durch ein System der Anmeldung des Kunden mit einem ihm vergebenem Benutzernamen und einem Passwort.<br />
4.3 Je nach den Nutzungshandlungen, die der Kunde auf dem ihm zur Nutzung überlassenen Datenspeichern vornimmt,
ist es alleine seine Verantwortung zu verhindern, dass eine unbefugten Eingabe von personenbezogenen Daten sowie
eine unbefugten Kenntnisnahme, Veränderung und Löschung von gespeicherten personenbezogenen Daten erfolgt.<br />
4.4. Soweit jedoch der Auftragsverarbeiter auf Weisung des Kunden tätig wird, personenbezogene Daten des Kunden
auf den ihm überlassenen Datenspeichern zu verarbeiten, hat nur ausgewähltes technisches Personal Zugangsrechte
auf die betroffenen IT-Systeme.</p>
<p>5 Benutzerkontrolle<br />
Gewährleistungsziel: Verhinderung der Nutzung automatisierter Verarbeitungssysteme mit Hilfe von Einrichtungen zur
Datenübertragung durch Unbefugte.<br />
Getroffene Maßnahmen:<br />
5.1 Soweit im Rahmen der Auftragsverarbeitung durch den Auftragsverarbeiter „Einrichtungen zur Datenübertragung“ in
den IT-Systemen des Auftragsverarbeiters genutzt werden, werden diese Einrichtungen durch ein dem Stand der
Technik entsprechendes Verschlüsselungsverfahren betrieben, wenn der Schutzbedarf eine Verschlüsselung erfordert.<br />
5.2 Sämtliche Beschäftigte des Auftragsverarbeiters sind zum Personendatenschutz geschult und entsprechend zur
Vertraulichkeit verpflichtet.<br />
5.3 Durch Berechtigungensstufen können nur authorisierte und berechtigte Benutzer Daten abfragen.</p>
<p>6 Übertragungskontrolle<br />
Gewährleistungsziel: Gewährleistung, dass überprüft und festgestellt werden kann, an welche Stellen personenbezogene
Daten mit Hilfe von Einrichtungen zur Datenübertragung übermittelt oder zur Verfügung gestellt wurden oder werden
können.<br />
Getroffene Maßnahmen:<br />
6.1 Soweit der Auftragsverarbeiter Übermittlungen oder Zurverfügungstellungen auf Weisung des Kunden vornimmt,
werden die betroffenen Übermittlungsstellen dokumentiert.<br />
6.2 Soweit erforderlich werden die Daten gegen Zugriffe auf Netzwerkebene geschützt und Schnittstellen gegen
unbefugten Datenexport gesichert.<br />
6.3 Im Übrigen ist es Sache des Kunden, die Daten auf dem ihm vertragsgemäß überlassenen Speicherplatz für die
Dauer des Vertrages einer geeigneten Übertragungskontrolle zu unterziehen, insbesondere nur geeigneten Dritten (z.B.
Webagenturen, Administratoren) Zugang und Zugriff zu gewähren und durch eine Verschlüsselung, z.B. SSL/TSL, dafür
zu sorgen, dass die von ihm zu übertragenen Daten für Dritte nicht lesbar sind.</p>
<p>7 Zugriffskontrolle<br />
Gewährleistungsziel: Gewährleistung, dass die zur Benutzung eines automatisierten Verarbeitungssystems Berechtigten
ausschließlich zu den von ihrer Zugangsberechtigung umfassten personenbezogenen Daten Zugang haben.<br />
Getroffene Maßnahmen:<br />
Es ist Sache des Kunden, die Daten auf dem ihm vertragsgemäß überlassenen Speicherplatz für die Dauer des Vertrages
einer geeigneten Zugriffskontrolle zu unterziehen, insbesondere nur geeigneten Dritten (z.B. Webagenturen, Administratoren)
Zugang und Zugriff zu gewähren.</p>
<p>8 Eingabekontrolle<br />
Gewährleistungsziel: Gewährleistung, dass nachträglich überprüft und festgestellt werden kann, welche personenbezogenen
Daten zu welcher Zeit und von wem in automatisierte Verarbeitungssysteme eingegeben oder verändert
worden sind.<br />
Getroffene Maßnahmen:<br />
8.1 Es ist Sache des Kunden, ggf. personenbezogene Daten auf dem ihm vertragsgemäß überlassenen Speicherplatz für
die Dauer des Vertrages einzugeben und dazu, insbesondere nur geeignete Dritte einzusetzen (z.B. Webagenturen,
Administratoren). Die Beschäftigten des Auftragsverarbeiters dürfen auf diese Daten zugreifen bzw.
Daten eingeben, verändern oder löschen, wenn es der explizite Auftrag den Auftraggebers ist.<br />
8.2 Das Verarbeiten von personenbezogenen Daten erfolgt somit grundsätzlich durch den Kunden, so dass durch den
Auftragsverantwortlichen nicht nachträglich überprüft werden und festgestellt werden kann, welche personenbezogenen
Daten der Kunde zu welcher Zeit und von wem in automatisierte Verarbeitungssysteme eingegeben oder
verändert hat.<br />
8.3 Nur im Rahmen seiner Tätigkeiten nach Weisung protokolliert der Auftragsverarbeiter diese Eingaben und Veränderungen
in angemessener Weise und dokumentiert die Uhrzeit und den Eingebenden.<br />
8.4 Muss der Auftragsverarbeiter aus gesetzlichen Gründen Informationen entfernen oder den Zugang zu ihnen sperren
(etwa im Falle der Nutzung vom Kunden auf den IT-Systemen für Dritte bereit gehaltenen Telemediendiensten bzw.
elektronischen Kommunikationsdiensten), wird die Sperrung bzw. die Entfernung von Inhalten protokolliert. Die
Protokolldaten werden aufbewahrt und enthalten die Mitarbeiterkennung. Die Löschung erfolgt nach dem Vertragsende
automatisiert und wird protokolliert.</p>
<p>9 Transportkontrolle<br />
Gewährleistungsziel: Gewährleistung, dass bei der Übermittlung personenbezogener Daten sowie beim Transport von
Datenträgern die Vertraulichkeit und Integrität der Daten geschützt werden.<br />
Getroffene Maßnahmen:<br />
9.1 Die Gewährleistung der Vertraulichkeit der Übermittlung von personenbezogenen Daten wird durch SSL/TSLVerschlüsselungen
über die Webseiten des Auftragsverarbeiters gewährleistet. Soweit nach der Art des personenbezogenen
Datums eine Integritätswahrung erforderlich ist, setzt der Auftragsverarbeiter ein Prüfsummenverfahren ein.<br />
9.2 Die Datenträgerentsorgung geschieht durch zertifizierte Entsorgungsdienstleister.<br />
9.3 Im Übrigen ist es Sache des Kunden, die Daten auf dem ihm vertragsgemäß überlassenen Speicherplatz für die Dauer
des Vertrages einer geeigneten Transportkontrolle zu unterziehen und geeignete Verschlüsselungstechniken
einzusetzen.</p>
<p>10 Pseudonymisierung<br />
Getroffene Maßnahmen:<br />
Eine gestzliche Pflicht zur Pseudidymisierung besteht nicht.</p>
<p>11 Klassifikationsschema für Daten<br />
Getroffene Maßnahmen:<br />
Aufgrund gesetzlicher Verpflichtungen oder Selbsteinschätzung (geheim, vertraulich, intern, öffentlich, normaler Schutzbedarf,
durchschnittlicher Schutzbedarf, hoher Schutzbedarf, sensibles Datum).</p>
<p><i>Integrität</i></p>
<p>12 Datenintegrität<br />
Gewährleistungsziel: Gewährleistung, dass gespeicherte personenbezogene Daten nicht durch Fehlfunktionen des
Systems beschädigt werden können.<br />
Getroffene Maßnahmen:<br />
12.1 Es erfolgt die Anfertigung von Sicherheitskopien von Daten, Prozesszuständen, Konfigurationen, Datenstrukturen
und Transaktionshistorien sowie die Dokumentation der Syntax von Daten.<br />
12.2 Es bestehen Reparaturstrategien und Ausweichprozesse.<br />
12.3 Schreib- und Änderungsrechte sind eingeschränkt.<br />
12.4 Erforderlichenfalls erfolgt der Einsatz von Prüfsummen, elektronischen Siegeln und Signaturen in Datenverarbeitungsprozessen
gemäß eines Kryptografiekonzepts.<br />
12.5 Es erfolgt ein Monitoring des Sollverhaltens von Prozessen. Es werden regelmäßig Tests zur Feststellung und
Dokumentation der Funktionalität, von Risiken sowie Sicherheitslücken und Nebenwirkungen von Prozessen
durchgeführt.<br />
12.6 Das Sollverhalten von Abläufen bzw. Prozessen wird festgelegt. Es erfolgt eine regelmäßige Durchführung von
Tests zur Feststellbarkeit bzw. Feststellung der Ist-Zustände von Prozessen.<br />
12.7 Über die Maßnahmen Ziffer 12.1 bis 12.6 hinaus, die der Auftragsverarbeiter für seine Daten und Systeme ergreift,
ist es Sache des Kunden, für die Datenintegrität des Datenbestandes auf dem ihm überlassenen Speicherplatz selbst
Sorge zu tragen.</p>

<p><i>Verfügbarkeit und Belastbarkeit</i><br />
13 Verfügbarkeitskontrolle<br />
Gewährleistungsziel: Gewährleistung, dass personenbezogene Daten gegen Zerstörung oder Verlust geschützt sind.
Getroffene Maßnahmen:<br />
13.1 Die Stromversorgung der Rechenzentren erfolgt über eigene Trafostationen. Die Stromversorgung und Netzersatzanlagen
garantieren höchste Ausfallsicherheit.<br />
13.2 Die unmittelbare Stromversorgung der Server ist typenabhängig, so dass bei der Verwendung entsprechender
Typen zusätzlich eine redundante Stromversorgung über ein redundantes Netzteil (2 Netzteile) gewährleistet ist.<br />
13.3 Der gesamte Energieverbrauch der Rechenzentren wird über unterbrechungsfreie Stromversorgungen (USV) sichergestellt.
Im Falle eines Stromausfalls garantieren die USV-Anlagen eine unterbrechungsfreie Umschaltung auf eines der
Notstrom-Dieselaggregate. Daneben filtern die USV-Anlagen vollständig alle Unregelmäßigkeiten oder Störungen des
Stromversorgungsnetzes.<br />
13.4 Leistungsstarke Netzersatzanlagen (Dieselaggregate) versorgen bei Stromausfall die Rechenzentren und die
Kühlsysteme mit konstanter Energie.<br />
13.5 Es erfolgt eine gerätegestützte Überwachung der Temperatur und der Feuchtigkeit im Rechenzentrum.<br />
13.6 Es ist ein flächendeckendes Brand- und Frühwarnsystem im Einsatz.<br />
<p>14 Wiederherstellbarkeit<br />
Gewährleistungsziel: Gewährleistung, dass eingesetzte Systeme im Störungsfall wiederhergestellt werden können.
Getroffene Maßnahmen:<br />
Die eingesetzten Systeme sind technisch redundant vorhanden. Der Datenbestand unterliegt einer regelmäßigen
Sicherung.</p>
<p>15 Trennbarkeit<br />
Gewährleistungsziel: Gewährleistung, dass zu unterschiedlichen Zwecken erhobene personenbezogene Daten getrennt
verarbeitet werden können.<br />
Getroffene Maßnahmen:<br />
Es erfolgt eine getrennte Verarbeitung und/oder Lagerung von Daten mit unterschiedlichen Verarbeitungszwecken.</p>

<p>16 Zuverlässigkeit<br />
Gewährleistungsziel: Gewährleistung, dass alle Funktionen des Systems zur Verfügung stehen und auftretende
Fehlfunktionen gemeldet werden.<br />
Getroffene Maßnahmen:<br />
Die Verfügbarkeit der IT-technischen Systeme unterliegt einem 24/7 Monitoring.</p>
<p>Auftragsverarbeitung<br />
17 Auftragskontrolle<br />
Gewährleistungsziel: Gewährleistung, dass personenbezogene Daten, die im Auftrag verarbeitet werden, nur
entsprechend den Weisungen des Auftraggebers verarbeitet werden können.<br />
Getroffene Maßnahmen:<br />
17.1 Es erfolgt eine Kennzeichnung des Auftragsverarbeitungs-Status gegenüber dem Status der weisungsfreien
Datenverarbeitung mit hinterlegtem Auftragsverarbeitungsvertrag und den dazugehörigen Anlagen in der Kundenmaske.
Beschäftigte - insbesondere im Rahmen des Telefon-Support - haben somit ständig Kenntnis über das
Vorliegen/Nichtvorliegen eines Auftragsverarbeitungsvertrags.<br />
17.2 Es erfolgt eine Verarbeitung im Auftrag mit standardisierten Vertragsformularen des Auftragsverarbeiters, um eine
gleichbleibende Qualität der Auftragsverarbeitung zu gewährleisten. Davon ggf. abweichende Formulare des Auftraggebers
werden ggü. den betroffenen Beschäftigten des Auftragsverarbeiters besonders gekennzeichnet, um
Abweichungen in den Standards der Arbeitsabläufe zu erfassen.</p>
<i>Verfahren zur Regelmäßigen Überprüfung und Evaluation</i>
<p>18 Prüfung, Bewertung Evaluierung<br />
Gewährleistungsziel: Verfahren zur regelmäßigen Überprüfung, Bewertung und Evaluierung der Wirksamkeit der
technischen und organisatorischen Maßnahmen zur Gewährleistung der datenschutzkonformen Verarbeitung.<br />
Getroffene Maßnahmen:<br />
18.1 Datenschutz-Management<br />
18.2 Regelmäßige Schulung der Beschäftigten.<br />
18.3 Der Auftragsverarbeiter setzt einen Kernbestand an langjährig und dauerhaft beschäftigtem Technikerpersonal mit
DV-technischer Erfahrung und Expertise ein.</p>