{$this->header}

<div class="box">
	<div class="box-body">
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Download</th>
		<th>Lizenzschlüssel / Hinweise</th>
	</tr>
	<tr>
		<th colspan="3">Bildbearbeitung</th>
	</tr>
	<tr>
		<td>GIMP<br /><small>Kostenloses Bildbearbeitungsprogramm</small></td>
		<td><i class="fa fa-external-link"></i> <a href="http://www.gimp.org/" target="_blank">gimp.org</a></td>
		<td><i>Keiner benötigt</i></td>
	</tr>
	<tr>
		<td>Pivot Animator</td>
		<td><i class="fa fa-download"></i> <a href="software/PivotAnimator.zip">PivotAnimator.zip</a> (2 MB)</td>
		<td><i>Keiner benötigt</i></td>
	</tr>
	<tr>
		<th colspan="3">CAD Unterricht</th>
	</tr>
	<tr>
		<td>Solid EDGE ST9</td>
		<td><i class="fa fa-download"></i> <a href="http://dl2.plm.automation.siemens.com/solidedge/Solid_Edge_Student_GERMAN_ST9.exe">Installationsdatei (Solid_Edge_GERMAN_ST9.exe) - ca. 2 GB</a><br /><small>Nur Windows ab Windows 7 und nur 64 Bit</small></i></td>
		<td>(Kein Key mehr nötig)</td>
	</tr>
	
	<tr>
		<td>FreeCAD<br /><small>Kostenloses CAD Programm</small></td>
		<td><i class="fa fa-external-link"></i> <a href="http://www.freecadweb.org/" target="_blank">FreeCad</a></td>
		<td><i>Keiner benötigt</i></td>
	</tr>
	
	<tr>
		<th colspan="3">Programmierung</th>
	</tr>
	<tr>
		<td>BlueJ<br /><small>Zur Programmierung in JAVA</small></td>
		<td><i class="fa fa-external-link"></i> <a href="http://www.bluej.org/" target="_blank">BlueJ</a><br /><small>BlueJ Installer mit Java verwenden</small></td>
		<td><i>Keiner benötigt</i></td>
	</tr>
	
	<tr>
		<td>JavaKarol<br /><small>Erweiterung für BlueJ zum Programmieren von JavaKarol</small></td>
		<td><i class="fa fa-download"></i> <a href="software/javakarol.zip" target="_blank">JavaKarol</a></td>
		<td>Installation:<br />
Zuerst muss die Entwicklungsumgebung BlueJ vollständig auf dem Rechner installiert sein. Im Folgenden wird das Programm-Verzeichnis von BlueJ mit <BlueJ_Verzeichnis> bezeichnet (meist C:\Programme\BlueJ).
Kopieren Sie aus dem JavaKarol-Packet die Java-Bibliothek javakarol.jar in das Verzeichnis
< BlueJ_Verzeichnis>\lib\userlib
Jetzt stehen die Klassen der Java-Bibliothek für BlueJ-Programme zur Verfügung.
		</td>
	</tr>
</table>
</div></div>
	
{$this->footer}