{$this->header}

<if(DB::getSession()->isTeacher())><then>Dieser Bereich ist nur für Lehrer!</then></if>

<div class="box">
	<div class="box-body">
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Download</th>
		<th>Lizenzschlüssel</th>
	</tr>
	<tr>
		<th colspan="3">Unterrichtsvorbereitung</th>
	</tr>
	<tr>
		<td>Smart Notebook</td>
		<td><a href="https://education.smarttech.com/products/notebook/download" target="_blank"><i class="fa fa-link"></i> Zur Downloadseite von Smart Notebook</a><br />
		Dort bitte den Lizenzschlüssel, der rechts angegeben ist, eingeben.
		</td>
		<td><i><i class="fa fa-key"></i> <code>NC-2ABSK-DWB2Z-BHZ5D-SAAAA-AAA</code></i></td>
	</tr>
	<tr>
		<th colspan="3">Physik / Biologie / Chemie</th>
	</tr>
	<tr>
		<td>PhyWE Intertess</td>
		<td><p><i class="fa fa-windows"></i> <a href="software/setup_intertess.exe">Installationsdatei Windows (setup_intertess.exe) - 343 MB</a></p>
		</td>
		<td><p><i class="fa fa-key"></i> <code>91507467-100-11059004</code></p>

<p>Das Lehrerpasswort lautet:</p>

<p><i class="fa fa-key"></i> <code>47395</code></p></td>
	</tr>
		<tr>
		<td>EduCentral Physik komplett</td>
		<td><p><i class="fa fa-file-archive"></i> <a href="software/EduCentralPhysik.zip">EduCentralPhysik.zip - 433 MB</a></p>
		</td>
		<td>bereits integriert</td>
	</tr>
</table>

<p><b>Hinweis:</b> Software, die einen Lizenzschlüssel benötigt, ist als Schulversion lizenziert. Das heisst Sie dürfen die Software zuhause zur Unterrichtsvorbereitung verwenden. Beim Ausscheiden aus der Schule müssen Sie die Software deinstallieren und alle Kopien der Software löschen.</p>

</div>
</div>
{$this->footer}