$gruppenHTML


<div class="box">
	<div class="box-header">
		<h3 class="box-title"><i class="fa fa-users"></i> Gruppe anlegen</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<form action="$selfURL&action=add" method="post">
		
			<div class="form-group">
				<label>Gruppenname<br />Bitte beachte: Der Gruppenname ist nach dem Anlegen nicht mehr änderbar.</label>
				<input type="text" name="name" class="form-control" placeholder="z.B. Technikteam">
			</div>
			
			<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Gruppe anlegen</button>
		
		</form>
	</div>
	
</div>