
<tr>
	<td width="10%">$datum</td>
	<td>
		{$mail['mailTitle']}<br />
		<button id="button{$mail['mailID']}">Text anzeigen</button>
		
		<p style="display: none" id="text{$mail['mailID']}"><expression>nl2br($mail['mailText'])</expression></p>
		
		
		<script>
		$( "#button{$mail['mailID']}" ).click(function() {
		  $( "#text{$mail['mailID']}" ).show( "slow" );
		  $( "#button{$mail['mailID']}" ).hide( "slow" );
		});
		</script>	
	</td>
	<td width="10%">$klassenStringEltern
	
		<if($mail['sendElternKlassen'] != "")><then>
	
	
			<br /><br /><a href="index.php?page=elternmailsender&mode=printFehlListen&mailID={$mail['mailID']}"><i class="fa fa-file-pdf"></i> Fehllisten drucken</a></td>
	
		</then></if>
	<td width="10%">$klassenStringSchueler</td>
	<td width="10%">$gruppenString</td>
	<td width="10%">
		<if($mail['sendLehrer'] > 0)>
			<then>
				Ja<br />
				<a href="index.php?page=elternmailinfo&teachers=1&mailID={$mail['mailID']}"><i class="fa fa-info"></i> Empfangsbestätigungen</a>
			</then>
		</if></td>
	<td>
		<if($mail['hasFormElements'] > 0)>
			<then>
				<a href="index.php?page=elternmailsender&mode=getAnswers&mailID={$mail['mailID']}"><i class="fa fa-file-excel"></i> Als Excel Datei herunteladen</a>
			</then>
		</if>
	<td width="10%">$mailStatus</td>
	<td width="15%">
		$percentSent %
		<div class="progress">
        	 <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="{$percentSent}" aria-valuemin="0" aria-valuemax="100" style="width: {$percentSent}%">
        		<span class="sr-only">{$percentSent}</span>
             	</div>
        </div>
    </td>
	<td width="15%">
		<if($mail['mailRequireConfirmation'] > 0)><then>
		$percentConfirmed %
		<div class="progress">
        	 <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="{$percentConfirmed}" aria-valuemin="0" aria-valuemax="100" style="width: {$percentConfirmed}%">
        		<span class="sr-only">{$percentConfirmed}</span>
             </div>
        </div>
        <a href="index.php?page=elternmailsender&mode=resendMails&mailID={$mail['mailID']}"><i class="fa fa-repeat"></i> Nicht bestätigte Mails noch einmal senden</a>
        </then>
        <else>Keine Bestätigung erforderlich</else></if>
     </td>
</tr>