
<div class="box">
	<div class="box-header">
		<h3 class="box-title"><i class="fa fa-refresh"></i> Aktualisierung der Schüler / Eltern und Lehrerdaten aus der ASV</h3>
		
	</div>
	<div class="box-body">
		<b>Benötigter Export: "Export für eine Notenverwaltung"</b>
		<br />
		Der Import aktuslisiert folgende Daten:
		<ul>
			<li>Schülerdaten</li>
			<li>Elterndaten / Kontaktdaten</li>
			<li>Lehrerdaten (Kürzel, Amtsbezeichnungen, Unterricht)</li>
			<li>Unterrichtsübersicht</li>
		</ul>
		
		<p>Bitte die Exportdatei hier hochladen.</p>
		
		<p>Der Export kann jederzeit vorgenommen werden.</p>
		
		<p>Letzter ASV Import: $lastImport</p>
		

		<form action="{$selfURL}&action=syncasv" method="post" enctype="multipart/form-data" id="asvsyncform">

			<div class="row">
				<div class="col-md-6">
					<if(self::get7ZIP() != null)><then>
					<b>Export - ZIP aus ASV</b><br />
					<p>Datei: <input type="file" class="form-control" name="asvexportfile" accept=".zip"></p>

					<p>Passwort: <input type="password" name="asvexportfilepassword" class="form-control"></p>
				</then><else>
					<b>Export - ZIP aus ASV</b><br />

					Der Import der ZIP Datei kann nur durchgeführt werden, wenn in den Einstellungen zu diesem Modul ein Pfad zu 7ZIP angegeben wird. Diese Einstellung erhalten Sie von Ihrem Administrator oder Webhoster.
				</else></if>
				</div>
				<div class="col-md-6">
					<b>Alternativ:</b><br />
					Entpacken Sie die Exportdatei mittels 7Zip (Nicht den integrierten Zipper in Windows) und laden Sie die erhaltene XML Datei hier hoch:
					<p>Datei: <input type="file" class="form-control" name="asvexportfilexml" accept=".xml"></p>
				</div>
			</div>



		<p><button type="button" class="btn btn-primary btn-block" onclick="document.getElementById('asvsyncform').submit(); document.getElementById('submitform').disabled = true;document.getElementById('submitform').innerHTML = 'Synchronisation wird durchgeführt. Bitte warten. (Kann bis zu einer Minute benötigen!)';" id="submitform"><i class="fa fa-upload"></i> Zur Klassenauswahl</button></p>
		</form>
		

	</div>
</div>



