{$this->header}

<div class="box box-primary box-solid">
	<div class="box-header">
		<h3 class="box-title"><i class="fas fa-toggle-on"></i> Modulstatus</h3>
	</div>
	<div class="box-body">
		
		<if(!DB::checkDemoAccess())>
			<then>
			
		<div class="callout callout-info"><i class="fa fa-info-circle"></i> In der Demo Version können keine Funktionen deaktiviert werden.</div>
		
		</then></if>
		
	
		<p>Wenn eine Funktion deaktiviert wird, dann bleiben alle darun enthaltenen Daten erhalten und stehen bei einer späteren Aktivierung wieder zur Verfügung.</p>


		<table class="table table-striped table-hover">
			<tr>
				<th style="width:70%">Modul / Modulstatus</th>
				<th>Änderung</th>
			</tr>
			$pageStatus
		</table>
	</div>

</div>


{$this->footer}