
<div class="modal fade"id="noten{$meine[$i]->getID()}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Einzelnoten</h4>
      </div>
      <div class="modal-body">
      	<table class="table table-striped">
      		<tr>
      			<th>Name</th>
      			<th>Note</th>
      		</tr>
      		$notenHTML
      	</table>
      </div>
     </div>
     </div></div>