<div class="box">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-group"></i> Aktive Lerntutoren</h3>
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <tr>
                <th>Schüler</th>
                <th>Slots</th>
                <th>Aktionen</th>
            </tr>
            {$lerntutorenHTML}
        </table>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-group"></i> Lerntutor hinzufügen</h3>
    </div>
    <div class="box-body">
        <form action="{$selfURL}&action=addLerntutor" method="post" id="searchuserform">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn"><i class="fa fa-search"></i></button>
                </div>
                <input type="hidden" name="schuelerAsvID" value="" id="schuelerAsvID">
                <input type="text" name="pupilName" value="" id="schuelerAutocomplete"  class="form-control" placeholder="Nach Schüler suchen ...">
            </div>
        </form>

        <script>
            $(function() {

                $("#schuelerAutocomplete").autocomplete({
                    source: "{$selfURL}&action=ajaxSearchSchueler",
                    minLength: 2,
                    select: function(event, ui) {
                        var id = ui.item.id;
                        var display = ui.item.label;
                        $("#schuelerAsvID").val(id);
                        $("#searchuserform").submit();
                        return false;

                    },

                    open: function(event, ui) {
                        $(".ui-autocomplete").css("z-index", 999999);
                    }
                });

            });

        </script>
    </div>
</div>