{$this->header}


<div class="box">
  <div class="box-header">
    <h3 class="box-title"><i class="fa fa-envelope"></i> Mail Account</h3>
  </div>
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tr>
        <td style="width:10%"><b>Benutzername:</b></td>
        <td>$mail
        </td>
      </tr>
      <tr>
        <td style="width:10%"><b>Initialpasswort:</b></td>
        <td>$password<br /><small>Bitte ändern Sie das Passwort nach der ersten Anmeldung im Webmail.</small>
        </td>
      </tr>
    </table>
    
    <ul>
   		<li>Webmail: <a href="https://webmail.all-inkl.com" target="_blank">webmail.all-inkl.com</a></li>
      	<li>Einrichtung von Mailclients: <a href="https://all-inkl.com/wichtig/anleitungen/#programme_e-mail" target="_blank">https://all-inkl.com/wichtig/anleitungen/#programme_e-mail</a></li>
   
   </ul>
  </div>
</div>

{$this->footer}
