{$this->header}

{$this->topmenu}
<img src="images/solidedgelogo.png" width="30%" style="float: right;margin: 10px;">

<p>Solid Edge von Siemens wird an unserer Schule für CAD eingesetzt.</p>
<p>Die Sofware läuft auf jedem Windows Computer ab Windows 7. (Nur 64 Bit)

<p>Für die Heimarbeit kann die Software hier heruntergeladen werden.</p>

<p><i class="fa fa-download"></i> <a href="software/Solid_Edge_GERMAN_ST8.exe">Installationsdatei (Solid_Edge_GERMAN_ST8.exe) - 2,21 GB</a></p>

<p>Zur Lizenzierung bitte folgenden Key unter "Academic Key" eingeben:</p>

<p><i class="fa fa-key"></i> <code>9765C8E0DB10</code></p>
	
{$this->footer}