<a
		href="index.php?page=beobachtungsbogen&bogenID={$this->bogenID}&mode=perPupil&grade={$klasse['klasseName']}&subject={$klasse['fachName']}"><i
			class="fa fas fa-pencil-alt"></i> Eintragen per Schüler</a><br /> <a
		href="index.php?page=beobachtungsbogen&bogenID={$this->bogenID}&mode=perQuestion&grade={$klasse['klasseName']}&subject={$klasse['fachName']}"><i
			class="fa fas fa-pencil-alt"></i> Eintragen per Frage</a><br /><a
		href="index.php?page=beobachtungsbogen&bogenID={$this->bogenID}&mode=allInOne&grade={$klasse['klasseName']}&subject={$klasse['fachName']}"><i
			class="fa fas fa-pencil-alt"></i> Alles auf einmal</a>