{$this->header}

<div class="flex-row" style="justify-content: flex-end;">
	<a href="index.php?page=ganztags" class="btn btn-blau margin-r-xs">Schüler Liste</a>

</div>


<div class="box">

	<div class="box-body">

		<div id=app></div>
		<script>
			var globals = {
				acl: $acl,
				showDays: $showDays
			}
			//console.log(globals.objects);
		</script>
		<script src=components/ganztags/dist/js/chunk-vendors.js></script>
		<script src=components/ganztags/dist/js/app.js></script>
		<!-- <script src=components/ganztags/dist/app.js></script> -->

	</div>
</div>

{$this->footer}


<style>

	#app {
		min-width: 60rem;
	}
	



	
	</style>
		