{$this->header}


<div class="flex-row">
	<div class="flex-3 page-submenue" >		
		<a href="index.php?page=ganztags" class="margin-r-xs active">Schülerliste</a>
		<a href="index.php?page=ganztagsCalendar" class="margin-r-xs ">Tagesansicht</a>
	</div>
	<div class="flex-1 page-dropdownMenue ">
		<button class="dropbtn btn"><i class="fas fa-ellipsis-v"></i></button>
		<div class="page-dropdownMenue-content ">
			<a href="index.php?page=ganztags&action=printAll" class="border-b-hell"><i class="fas fa-print"></i>Alle Drucken</a>
			<a href="index.php?page=ganztags&action=printGroups" class=""><i class="fas fa-print"></i>Gruppen Drucken</a>
		</div>
	</div>
</div>


<form action="index.php?page=ganztags" method="post">

	<div class="box">
		<div class="box-header">
			<h3 class="box-title"><i class="fa fa-list"></i> Schüler aus der Ganztags Betreuung</h3>
		</div>
		<div class="box-body">
			<table id="dataTable" border="0" style="width:100%; border:0;" class="display">
				<thead>
					<tr>
						<th></th>
						<th>Vorname</th>
						<th>Name</th>
						<th></th>
						<th>Klasse</th>
						<th>Gruppe</th>
						<th>Mo</th>
						<th>Di</th>
						<th>Mi</th>
						<th>Do</th>
						<th>Fr</th>
						<th>Sa</th>
						<th>So</th>
						<th>Info</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					$html
				</tbody>
			</table>
			
		</div>
	</div>

</form>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
  $(function () {
		//console.log('go...');
    var t = $('#dataTable').DataTable({

      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "pageLength": 200,
			"order": [[ 4, "asc" ]],
      "language": {
    		"sEmptyTable":   	"Keine Daten in der Tabelle vorhanden",
    		"sInfo":         	"_START_ bis _END_ von _TOTAL_ Einträgen",
    		"sInfoEmpty":    	"0 bis 0 von 0 Einträgen",
    		"sInfoFiltered": 	"(gefiltert von _MAX_ Einträgen)",
    		"sInfoPostFix":  	"",
    		"sInfoThousands":  	".",
    		"sLengthMenu":   	"_MENU_ Einträge anzeigen",
    		"sLoadingRecords": 	"Wird geladen...",
    		"sProcessing":   	"Bitte warten...",
    		"sSearch":       	"Einträge suchen",
    		"sZeroRecords":  	"Keine Einträge vorhanden.",
    		"oPaginate": {
    			"sFirst":    	"Erste",
    			"sPrevious": 	"Zurück",
    			"sNext":     	"Nächste",
    			"sLast":     	"Letzte"
    		},
    		"oAria": {
    			"sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
    			"sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
    		}
      }
		});
		t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
		} ).draw();
		
  });
</script>

{$this->footer}