
<!DOCTYPE html>
<html>
  
  <head>
     <meta charset="UTF-8">
  
    <title><expression>DB::getGlobalSettings()->siteNamePlain</expression> - Anmeldung</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="cssjs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="cssjs/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="cssjs/font/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="cssjs/dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="cssjs/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />

  </head>
  <body class="login-page">

  	  	
  	<div class="login-box" id="noJSWarning">
      <div class="login-logo">
        <a href="index.php"><img src="index.php?page=SkinSettings&action=getLogo" width="150" border="0"></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
      	<div class="callout callout-danger">
      	
      		Es steht ein internes Update der Software aus. Bitte versuchen Sie es in ein paar Minuten noch einmal.
      
      	</div>
            	<hr noshade="noshade">
      
      	<div style="text-align:center">	
      		<a href="index.php?page=impressum"><i class="fa fa-info"></i> Impressum</a> | <a href="index.php?page=impressum#Datenschutz"><i class="fa fa-info"></i> Datenschutz</a>
      
      	<hr noshade="noshade">
      	
      	<a href="https://all-inkl.com/info/rechenzentrum/" target="_blank"><img src="https://all-inkl.com/banner/allinkl-serverstandort-deutschland-150x57.png" alt="gehostet mit Servern in Deutschland von all-inkl.com" border="0" /></a>
      
      </div>
      
     </div>
    </div>
      
        	
  	
   
  </body>
</html>