{$this->header}

$uploadForm


		<div class="box">
            <div class="box-header">
              <h3 class="box-title">Wichtige Dokumente zum Download als PDF</h3>
            </div>
           <div class="box-body no-padding">
           	<table class="table table-striped">
           		<tr>
           			<th>Titel</th>
           			<th>Veröffentlicht am</th>
           			<th>Download</th>
           			$adminTH
           		</tr>
           		$briefeHTML
           	</table>
           </div>
         </div>


{$this->footer}