{$this->header}


<script>
  var globals = {
    userID: $userID,
  };
  
  console.log(globals);
</script>

<div class="box">
  <div class="box-body">
    <div id=app></div>
  </div>
</div>

<script src=components/kalender/dist/js/chunk-vendors.js></script>
<script src=components/kalender/dist/js/app.js></script>


<style>



  .calendar .calendar-header {
		display: flex;
		margin-bottom: 3rem;
		margin-top: 1rem;
	}

	.calendar .calendar-header button,
	.calendar .calendar-header .filter {
		flex: 1;
		font-size: 100%;
	}
	.calendar .calendar-header h3 {
		flex: 8;
		margin: 0;
		padding: 0;
		justify-content: center;
		align-self: center;
		text-align: center;
	}
	.calendar .calendar-header button i {
		margin-left: 0.6rem;
		margin-right: 0.6rem;
  }
  
  .calendar table {
    width: 100%;
  }
  .calendar table thead {
    font-size: 120%;
    
    background-color: #8aa4af;
    color: #fff;
    font-weight: bold;
  }
  .calendar table thead td {
    text-align: center;
  }

  .calendar table td {
    padding: 0.6rem;
    vertical-align: bottom;
  }

  .calendar table tr:nth-child(even) {
    background-color: rgb(236, 240, 245);
  }


  .calendar .eintrag {
    border: 1px solid #8aa4af;
    margin-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }


</style>


{$this->footer}