{$this->header}

<form action="index.php?page=elternmaillists&mode=add&save=1" method="post">

<div class="box">
	<div class="box-header">
		<h3 class="box-title"><i class="fa fas fa-pencil-alt"></i> Namen der Liste</h3><br />
	</div>
	<div class="box-body no-padding">
<input type="text" name="newGroupName" class="form-control" placeholder="Listenname">

</div></div>

$userTabs

<button type="submit" class="form-control"><i class="fa fa-save"></i> Neue Listen anlegen</button>

</form>

{$this->footer}