	<tr>
		<td>{$list['groupName']}</td>
		<td>$mem</td>
		<td><a href="index.php?page=elternmaillists&mode=editList&listName=<expression>urlencode($list['groupName'])</expression>"><i class="fa fas fa-pencil-alt"></i> Mitglieder hinzufügen</a></td>
		<td><a href="#" onclick="javascript:if(confirm('Soll die Liste wirklich gelöscht werden?')) window.location.href='index.php?page=elternmaillists&mode=deleteList&listName=<expression>urlencode($list['groupName'])</expression>';"><i class="fa fa-trash"></i> Liste löschen</a></td>
	</tr>