<div class="tab-pane{$tabIsActive}" id="{$allNetworks[$i]}">
	<table id="users{$allNetworks[$i]}" class="table table-bordered table-striped">
		<thead>
		 <tr>
		 	<th>In Liste?</th>
			<th>Benutzername</th>
			<th>Rufname</th>
			<th>Name</th>
			<th>E-Mail</th>
		 </tr>
		</thead>
					<tbody>
						{$userHTML}
					</tbody>
				</table>
			</div>

<script src="cssjs/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="cssjs/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#users{$allNetworks[$i]}').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "pageLength": 20,
      "language": {
    		"sEmptyTable":   	"Keine Daten in der Tabelle vorhanden",
    		"sInfo":         	"_START_ bis _END_ von _TOTAL_ Einträgen",
    		"sInfoEmpty":    	"0 bis 0 von 0 Einträgen",
    		"sInfoFiltered": 	"(gefiltert von _MAX_ Einträgen)",
    		"sInfoPostFix":  	"",
    		"sInfoThousands":  	".",
    		"sLengthMenu":   	"_MENU_ Einträge anzeigen",
    		"sLoadingRecords": 	"Wird geladen...",
    		"sProcessing":   	"Bitte warten...",
    		"sSearch":       	"Einträge suchen",
    		"sZeroRecords":  	"Keine Einträge vorhanden.",
    		"oPaginate": {
    			"sFirst":    	"Erste",
    			"sPrevious": 	"Zurück",
    			"sNext":     	"Nächste",
    			"sLast":     	"Letzte"
    		},
    		"oAria": {
    			"sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
    			"sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
    		}
      }
    });
  });
  
  $( "#buttonShowFilter" ).click(function() {
	  $( "#filter" ).show( "slow" );
	  $( "#buttonShowFilter" ).hide( "slow" );
	});
  
  <if($network == "SCHULEINTERN")>
  	<then>
    $( "#buttonAddUser" ).click(function() {
  	  $( "#addUser" ).show( "slow" );
  	  $( "#buttonAddUser" ).hide( "slow" );
  	});
  	</then>
  </if>
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
