<tr>
	<td><b>{$settings[$s]['titel']}</b><br /><small>{$settings[$s]['text']}</small></td>
	<td>
	
	    <input type="checkbox" name="{$settings[$s]['name']}" value="1" class="modulebooleansetting" id="{$settings[$s]['name']}"$selectedTrue>

		<!-- <select name="{$settings[$s]['name']}" class="form-control"><option value="1"$selectedTrue>Ja</option><option value="0"$selectedFalse>Nein</option></select> -->
		
		
		</td>

	<td><button class="btn btn-default" type="button" onclick="showSettingsHistory('{$settings[$s]['name']}')"><i class="fa fa-history"></i></button> </td>
</tr>