<tr>
	<td><b>{$settings[$s]['titel']}</b><br /><small>{$settings[$s]['text']}</small></td>
	<td>
	
	<div class="onoffswitch">
	    <input type="checkbox" name="{$settings[$s]['name']}" value="1" class="onoffswitch-checkbox" id="{$settings[$s]['name']}"$selectedTrue>
	    <label class="onoffswitch-label" for="{$settings[$s]['name']}">
	        <span class="onoffswitch-inner"></span>
	        <span class="onoffswitch-switch"></span>
	    </label>
	</div>
	
		<!-- <select name="{$settings[$s]['name']}" class="form-control"><option value="1"$selectedTrue>Ja</option><option value="0"$selectedFalse>Nein</option></select> -->
		
		
		</td>
</tr>