<tr>
	<td><b>{$settings[$s]['titel']}</b><br /><small>{$settings[$s]['text']}</small></td>
	<td>
	<input type="text" name="{$settings[$s]['name']}" id="{$settings[$s]['name']}" class="form-control" value="{$value}"/>

		<script>

			$('#{$settings[$s]['name']}').timepicki({
				show_meridian:false,
				min_hour_value:0,
				max_hour_value:23,
				step_size_minutes:1,
				overflow_minutes:true,
				increase_direction:'up',
				disable_keyboard_mobile: true,
				start_time: ["$stunden", "$minuten", "AM"]
			});

		</script>


	</td>

	<td><button class="btn btn-default" type="button" onclick="showSettingsHistory('{$settings[$s]['name']}')"><i class="fa fa-history"></i></button> </td>

</tr>