
.scrollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}


.block {
  display: block;
}

.blockInline {
  display: inline-block;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.flex-end {
  justify-content: flex-end;
}

.flex-center-center {
  justify-content: center;
  align-self: center;
}



.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}




.flex-b-50 {
  flex: 1;
  flex-basis: 50%;
}
.flex-b-100 {
  flex: 1;
  flex-basis: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}



.width-form {
  width: 20rem;
}
.width-label {
  width: 13rem;
}


.width-2rem {
  width: 2rem;
}
.width-3rem {
  width: 3rem;
}
.width-4rem {
  width: 4rem;
}
.width-7rem {
  width: 7rem;
}
.width-12rem {
  width: 12rem;
}
.width-15rem {
  width: 15rem;
}
.width-20rem {
  width: 20rem;
}
.width-30rem {
  width: 30rem;
}


.width-30vw {
  width: 30vw;
}
.width-40vw {
  width: 40vw;
}
.width-55vw {
  width: 55vw;
}
.width-70vw {
  width: 70vw;
}


.width-100p {
  width: 100%;
}



.height-2rem {
  height: 2rem;
}
.height-3rem {
  height: 3rem;
}

.height_35 {
  max-height: 35vh !important;
}

.height_100 {
  max-height: 100vh !important;
}






.padding-xs {
  padding: 0.3rem;
}
.padding-s {
  padding: 0.6rem;
}

.padding-m {
  padding: 1.3rem;
}
.padding-l {
  padding: 2.3rem;
}



.padding-t-xs {
  padding-top: 0.3rem;
}
.padding-t-s {
  padding-top: 0.6rem;
}
.padding-t-m {
  padding-top: 1.3rem;
}
.padding-t-l {
  padding-top: 2.3rem;
}

.padding-b-xs {
  padding-bottom: 0.3rem;
}
.padding-b-s {
  padding-bottom: 0.6rem;
}
.padding-b-m {
  padding-bottom: 1.3rem;
}
.padding-b-l {
  padding-bottom: 2.3rem;
}


.padding-l-s {
  padding-left: 0.6rem;
}
.padding-l-m {
  padding-left: 1.3rem;
}
.padding-l-l {
  padding-left: 2.3rem;
}

.padding-r-s {
  padding-right: 0.6rem;
}
.padding-r-m {
  padding-right: 1.3rem;
}
.padding-r-l {
  padding-right: 2.3rem;
}



.margin-r-xs {
  margin-right: 0.3rem;
}
.margin-r-s {
  margin-right: 0.6rem;
}
.margin-r-m {
  margin-right: 1.3rem;
}
.margin-r-l {
  margin-right: 2.3rem;
}
.margin-r-xxl {
  margin-right: 8rem;
}


.margin-l-xs {
  margin-left: 0.3rem;
}
.margin-l-s {
  margin-left: 0.6rem;
}
.margin-l-m {
  margin-left: 1.3rem;
}
.margin-l-l {
  margin-left: 2.3rem;
}


.margin-t-s {
  margin-top: 0.6rem;
}
.margin-t-m {
  margin-top: 1.3rem;
}
.margin-t-l {
  margin-top: 2.3rem;
}

.margin-b-s {
  margin-bottom: 0.6rem;
}
.margin-b-m {
  margin-bottom: 1.3rem;
}
.margin-b-l {
  margin-bottom: 2.3rem;
}

.margin-t-m {
  margin-top: 1.3rem;
}
.margin-t-l {
  margin-top: 2.3rem;
}

.margin-0 {
  margin: 0 !important;
}

.overlay i.fa {
  top: 50vh !important;
  left: 45vw !important;
}

.box .overlay > .fa {
  position: fixed;
}
