


.form-style-2 input[type="text"],
.form-style-2 textarea {
  border: 0;
  border-radius: 0;
  webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin: 0;
  background-color: #ffffff;
  color: #000;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 1px solid #d2d2d2;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.form-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999999999;
}

.form-modal-content {

  background-color: #ffffff;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  padding: 2rem;
  min-width: 30vw;
  max-width: 45vw;
}

.form-modal-error {
  color: #dd4b39;
  border-bottom: 1px solid #dd4b39;
  margin-bottom: 2rem;
}

.form-modal-close {
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-size: 130%;
  
}
.form-modal-close i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  display: block;
  display: inline-block;

  padding: 6px 12px;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;

  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:hover {
  background-color: rgb(192, 192, 192);
}
.btn.noCursor {
  cursor: default;
}

.btn i {
  margin-right: 0.8rem;
}


.btn-blau,
button.btn-blau {
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: #fff;
}

.btn-blau:hover {
  background-color: #367fa9;
  color: #fff;
}


.btn-grau {
  background-color: #8aa4af;
  border-color: #8aa4af;
  color: #fff;
}

.btn-grau:hover {
  background-color: #738b96;
  color: #fff;
}


.btn-gruen {
  background-color: #00a65a;
  border-color: #00a65a;
  color: #fff;
}

.btn-gruen:hover {
  background-color: #018d4e;
  color: #fff;
}

.btn-orange {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #fff;
}

.btn-orange:hover {
  background-color: #f39c12;
  color: #fff;
}

.btn-red {
  background-color: #dd4b39;
  border-color: #dd4b39;
  color: #fff;
}

.btn-red:hover {
  background-color: #c63e2d;
  color: #fff;
}



.bg-red {
  background-color: #dd4b39; 
}


.border {
  border: 1px solid #738b96;
}
.border-r {
  border-right: 1px solid #738b96;
}
.border-l {
  border-left: 1px solid #738b96;
}
.border-b {
  border-bottom: 1px solid #738b96;
}


.border-radius {
  border: 1px solid #738b96;
  border-radius: 4px;
}


.bg-white {
  background-color: #ffffff;
}



.noListStyle {
  list-style: none;
  padding: 0;
  margin: 0;
}
.line-oddEven:nth-child(odd)  {
  background-color: #f9f9f9;
}
.text-bold {
  font-weight: bold;
}
.text-lineHeight-m {
  line-height: 200%;
}
.text-red {
  color: #dd4b39;
}
.text-green {
  color: #018d4e;
}
.text-grey {
  color: #738b96;
}

.text-small {
  font-size: 80%;
}

.text-big-2 {
  font-size: 140%;
}
.text-big-m {
  font-size: 160%;
}

.table_1 {
  width: 100%;
  table-layout: fixed;
}
.table_1 thead {
  font-size: 120%;
  background-color: #8aa4af;
  color: #fff;
  font-weight: bold;
}
.table_1 thead td {
  text-align: center;
}
.table_1 tbody.oddEven tr:nth-child(2n) {
  background-color: rgb(236, 240, 245);
}
.table_1 td {
  padding: 0.6rem;
  text-align: left;
  vertical-align: top;
}