


.form-style-2 input[type="text"],
.form-style-2 input[type="file"],
.form-style-2 input[type="number"],
.form-style-2 textarea {
  border: 0;
  border-radius: 0;
  webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin: 0;
  background-color: #ffffff;
  color: #000;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 1px solid #d2d2d2;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-style-2 input.select {
  color: #738b96;
  cursor: pointer;
  position: relative;
  background-image: url("./images/arrow-down.png");
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: 95% center;
}
.form-style-2 input.select:hover{
  color: #000;
}


.form-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999999999;
}

.form-modal-content {

  background-color: #ffffff;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  padding: 2rem;
  min-width: 30vw;
  max-width: 75vw;
  max-height: 80vh;
  overflow-y: auto;
}

.form-modal-error {
  color: #dd4b39;
  border-bottom: 1px solid #dd4b39;
  margin-bottom: 2rem;
}

.form-modal-succeed {
  color: #018d4e;
  border-bottom: 1px solid #018d4e;
  margin-bottom: 2rem;
}

.form-modal-close {
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-size: 130%;
  
}
.form-modal-close i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.required {
  color: #dd4b39;
}

.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  display: block;
  display: inline-block;

  padding: 6px 12px;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;

  
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:hover {
  background-color: rgb(192, 192, 192);
}
.btn.noCursor {
  cursor: default;
}

.btn i {
  margin-right: 0.8rem;
}
.btn.noText i {
  margin-right: 0rem;
}

a {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.70;
  border: 1px solid #f39c12;
}

.btn-blau,
button.btn-blau {
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: #fff;
}

.btn-blau:hover {
  background-color: #367fa9;
  color: #fff;
}


.btn-grau {
  background-color: #8aa4af;
  border-color: #8aa4af;
  color: #fff;
}

.btn-grau:hover,
.btn-grau.active {
  background-color: #738b96;
  color: #fff;
}

.btn-gruen {
  background-color: #00a65a;
  border-color: #00a65a;
  color: #fff;
}

.btn-gruen:hover {
  background-color: #018d4e;
  color: #fff;
}

.btn-orange {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #fff;
}

.btn-orange:hover {
  background-color: #f39c12;
  color: #fff;
}

.btn-red {
  background-color: #dd4b39;
  border-color: #dd4b39;
  color: #fff;
}

.btn-red:hover {
  background-color: #c63e2d;
  color: #fff;
}

.btn-grey-line {
  background-color: rgba(0,0,0,0);
  border-color: #8aa4af;
  color: #8aa4af;
}
.btn-grey-line:hover {
  background-color: rgba(0,0,0,0);
  border-color: #8aa4af;
  color: #424242;
}

.btn-opacity {
  opacity: 0.3;
}
.btn-opacity:hover {
  opacity: 1;
}



.bg-red {
  background-color: #c63e2d; 
}


.border {
  border: 1px solid #738b96;
}
.border-r {
  border-right: 1px solid #738b96;
}
.border-l {
  border-left: 1px solid #738b96;
}
.border-b {
  border-bottom: 1px solid #738b96;
}
.border-t {
  border-top: 1px solid #738b96;
}

.border-b-hell {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.border-radius {
  border-radius: 4px;
}






.bg-white {
  background-color: #ffffff;
}
.bg-grau {
  background-color: #8aa4af;
}
.bg-grau-hell {
  background-color: rgb(244, 244, 244);
}
.bg-green {
  background-color: #018d4e;
}

.noListStyle {
  list-style: none;
  padding: 0;
  margin: 0;
}
.line-oddEven:nth-child(odd)  {
  background-color: #f9f9f9;
}
.line-oddEven:nth-child(even)  {
  background-color: #ffffff;
}

.text-bold {
  font-weight: bold !important;
}
.text-lineHeight-m {
  line-height: 200%;
}
.text-red {
  color: #dd4b39;
}
.text-green {
  color: #018d4e;
}
.text-orange {
  color: #f39c12;
}

.text-black {
  color: #000000;
}
.text-grey {
  color: #738b96;
}
.text-white {
  color: #ffffff;
}

.text-small {
  font-size: 80%;
}

.text-big-2 {
  font-size: 140%;
}
.text-big-m {
  font-size: 160%;
}

.text-right {
  text-align: right;
}

.text-line-through {
  text-decoration:line-through;
}

.table_1 {
  width: 100%;
  table-layout: fixed;
}
.table_1 thead,
.table_head {
  font-size: 120%;
  background-color: #8aa4af;
  color: #fff;
  font-weight: bold;
}
.table_1.thead-padding thead th,
.table_1.thead-padding thead td {
  padding: 0.6rem;
}
.table_1.thead-center thead th,
.table_1.thead-center thead td {
  text-align: center;
}
.table_1 tbody.oddEven tr:nth-child(2n) {
  background-color: rgb(236, 240, 245);
}
.table_1 td {
  padding: 0.6rem;
  text-align: left;
  vertical-align: top;
}
.table_1.noPadding tbody td {
  padding: 0;
}


.table_2 {
  width: 100%;
  table-layout: fixed;
}
.table_2 thead {
  font-size: 110%;
  color: #8aa4af;
  font-weight: bold;
}
.table_2 tbody.oddEven tr:nth-child(2n) {
  background-color: rgb(236, 240, 245);
}
.table_2 td {
  padding: 0.6rem;
  text-align: left;
  vertical-align: top;
}




.box_1 {
  border: 1px solid #8aa4af;
  background-color: rgb(244, 244, 244);
	padding: 1rem;
	margin-bottom: 1.3rem;
	border-radius: 5px;
}

.box_odd:nth-child(2n) {
  background-color: rgb(236, 240, 245);
}



.page-dropdownMenue {
  position: relative;
  display: inline-block;
  max-width: 4rem;
}

.page-dropdownMenue .page-dropdownMenue-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  left: -20rem;
  width: 25rem;
}




.page-dropdownMenue .page-dropdownMenue-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.page-dropdownMenue .page-dropdownMenue-content a i {
  margin-right: 1.3rem;
}

.page-dropdownMenue-content a:hover {background-color: #ddd;}

.page-dropdownMenue:hover .page-dropdownMenue-content {display: block;}

.page-dropdownMenue .dropbtn {
  width: 5rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  display: inline-block;

  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0,0,0,0);
}

.page-submenue {
  padding: 0;
  margin: 0;
}
.page-submenue a,
.page-submenue .item{
  padding-top: 0.6rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 0.3rem;
  height: 100%;
  display: inline-block;

  border-top-left-radius: 4px;
  color: #666;
  background-color: #f1f1f1;
  cursor: pointer;
}
.page-submenue a:hover,
.page-submenue .item:hover{
  background-color: #dfe2e7;
  color: #000;
} 

.page-submenue a.active,
.page-submenue .item.active {
  border-top-right-radius: 4px;
  color: #666;
  background-color: #d2d6de;

}
.page-submenue a.admin,
.page-submenue .item.admin  {
  opacity: 0.3;
  float: right;
}
.page-submenue a.admin:hover,
.page-submenue .item.admin:hover  {
  opacity: 1;
}