{$this->header}

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-flask"></i> Notenverwaltung</h3>
	</div>
	<div class="box-body">
		Willkommen zur Notenverwaltung.<br /><br />
		<strong>Die Notenverwaltung befindet sich in noch in der Entwicklungsphase. Es werden daher ständige kleinere und größere Änderungen vorgenommen.</strong>
		
		<br /><br />
		Über die Änderungen werden Sie hier informiert:<br /><br />
<pre>01.07.2018
Eingabe der Mitarbeits- / Verhaltensnoten:
 - Eingabefehler beseitigt (M und V Note war beim Speichern gleich)
 - Kommentarfeld hinzugefügt.

28.06.2018
Eingabe der Mitarbeits- / Verhaltensnoten möglich.

17.06.2018
- Anpassung der Noteneingabe in den Unterrichten.
- Die Eingabe einer Note geschieht nun durch simples Klicken der Note.
- Bei der Eingabe einer gesamten Arbeit springt der Cursor nun per Tab in die nächste Zeile.
- Die Kopfzeile (Arbeiten) bleiben nun beim Scrollen auch immer sichtbar.
- Schnitt der großen und kleinen Leistungsnachweise eingefügt.
- Notenfreigabe für Zeugnisse hinzugefügt.
- Zeugnisse könenn angelegt werden.

18.11.2017
- Die Zuordnung der alten Noten wurde verbessert.
- Die Berechnung der Noten wurde bei Notenschutz angepasst.

13.11.2017
- Noten können jetzt ein individuelles Datum haben.
  Damit kann innerhalb von einer Spalte z.B. eine Ausfragenote für alle Schüler einer Klasse angelegt werden.
  Zu jeder Note kann nun auch ein Kommentar (z.B. Ausfrageinhalte) hinterlegt werden.
- Druck von Notenstandsberichten möglich
- Einsicht in die Einzelnoten und Durchschnittsnoten über das Schülerinformationssystem möglich.

10.10.2017 - Kleinere Verbesserungen
- Zusammenfassung von Kopplungsklassen verbessert.
- Bei kombinierten / gekoppelten Unterrichten wird die Klasse beim Schülernamen angezeigt.
- Eingabe von Noten erfolgt jetzt pro Arbeit. (Freischalten der Eingabe durch Klicken auf "Eingabe")  

7.9.2017 - Erste Version
Einfache Noteneingabe möglich.</pre>
	</div>
</div>

{$this->footer}