{$this->header}

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-flask"></i> Notenverwaltung</h3>
	</div>
	<div class="box-body">
		Willkommen zur Notenverwaltung.<br /><br />
		<br /><br />
		Über die Änderungen werden Sie hier informiert:<br /><br />
<pre>13.07.2020
- Klassenleitung:
	- Möglichkeit Vorrücken auf Probe einzutragen

07.07.2020
- Erweiterung der Klassenleiteransicht beim Zeugnis:
  - Anzeige der fehlenden Zeugnisnoten
  - Möglichkeit der Bestätigung der fehlenden Zeugnisnoten durch die Klassenleitung
  - Möglichkeit Bemerkung zu Qualifizierungsstufen im Zeugnis einzufügen

- Noteneingabe
  - Korrektur der Verrechnungsansicht (Endnotenschnitt im Bestätigendialog korrekt)
</pre>
	</div>
</div>

{$this->footer}