	<tr>
		<td>{$bogen['beobachtungsbogenName']}</td>
		<td>{$bogen['beobachtungsbogenDatum']}</td>
		<td>{$bogen['beobachtungsbogenStartDate']}</td>
		<td>{$bogen['beobachtungsbogenDeadline']}</td>
		<td>{$bogen['beobachtungsbogenTitel']}</td>
		<td>{$bogen['beobachtungsbogenText']}</td>
		<td>
			<a href="index.php?page=beobachtungsbogenadmin&editBogen={$bogen['beobachtungsbogenID']}"><i class="fa fa-pencil"></i> Bearbeiten</a><br />
			<a href="index.php?page=beobachtungsbogenadmin&deleteBogen={$bogen['beobachtungsbogenID']}"><i class="fa fa-trash"></i> Löschen</a><br />
			<a href="index.php?page=beobachtungsbogenadmin&editMatrix={$bogen['beobachtungsbogenID']}"><i class="fa fa-table"></i> Matrix bearbeiten</a><br />
			<a href="index.php?page=beobachtungsbogenadmin&editNachfristen={$bogen['beobachtungsbogenID']}"><i class="fa fa-clock-o"></i> Nachfristen zum Eintragen</a>
		
		</td>
	</tr>