{$this->header}

<div class="box">
<div class="box-body">

<img src="images/office2016logo.jpg" width="10%" style="float: right;margin: 10px;">


<ul>
	<li>Gehe auf <a href="http://portal.office.com" target="_blank">http://portal.office.com</a></li>
	<li>Melde dich mit folgenden Benutzerdaten an:<br /><table><tr><td style="padding:10px">Benutzername:</td><td style="padding:10px">$username@rsu-germering.de</td></tr><tr><td>Passwort:</td><td><i>Dein Passwort, wie am Computer in der Schule</i></td></table>
	<li>Klicke auf "Office installieren" nach dem Anmelden.</li>
</ul>


</div>
</div>

						
{$this->footer}