{$this->header}

<form action="index.php?page=klassenlisten" method="post">

<div class="box">
	<div class="box-header">
		<h3 class="box-title"><i class="fa fa-list"></i> Klasse und Namensformat</h3>
	</div>
	<div class="box-body">
			<b>Klasse auswählen:</b> 
		     <select name="grade" class="form-control" data-placeholder="Klasse auswählen">
				{$gradeSelect}
			</select>
			<b>Namensformat:</b>
			<select name="nameformat" class="form-control">
				<option value="vn">Vorname Nachname</option>
				<option value="vkn">Vorname, Nachname</option>
				<option value="nv">Nachname Vorname</option>
				<option value="nkv" selected="selected">Nachname, Vorname</option>
			</select>
			
			<b>Mit ausgetretenen Schülern:</b>
			<select name="withAusgetretene" class="form-control">
				<option value="1">Ja</option>
				<option value="0" selected="selected">Nein</option>
			</select>
			<small>Ausgetretene Schüler werden auf der PDF Klassenliste mit Austrittsdatum angezeigt. In den Excellisten sind sie wie die anderen Schüler zu sehen.</small>
	</div>
</div>

<div class="box box-default">
    <div class="box-body">
		<div class="tabbable">
	        <ul class="nav nav-tabs">
	        	<li class="active"><a href="#pdfliste" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Klassenliste als PDF</a></li>
	        	<li><a href="#korrekturliste" data-toggle="tab"><i class="fa fa-file-excel-o"></i> Korrekturliste</a></li>
	        	<li><a href="#datenexport" data-toggle="tab"><i class="fa fa-file-excel-o"></i> Export</a></li>
	        </ul>
	        
	        <div class="tab-content">
		        <div class="tab-pane active" id="pdfliste">
					<b>Überschrift der Liste</b><br /><small>{KLASSE} als Platzhalter für die Klasse</small>
					<input type="text" name="ueberschrift" class="form-control" value="Klassenliste {KLASSE}">
				
					<br />	
					<b>Spaltentitel</b><br /><small>Maximal 10 Spalten.</small>
					
					<!-- <textarea name="pdf_cols" class="form-control" rows="10"></textarea> -->
					
					<div class="input_fields_wrap">
					    <div><input type="text" name="spalten[]" class="form-control" placeholder="Überschrift Spalte 1"></div>
					</div>
								<button id="add_field_button" class="form-control"><i class="fa fa-plus"></i> Spalte hinzufügen</button>
					
					
					<script>
					
					$(document).ready(function() {
					    var max_fields      = 10; //maximum input boxes allowed
					    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
					    var add_button      = $("#add_field_button"); //Add button ID
					    
					    var x = 1; //initlal text box count
					    $(add_button).click(function(e){ //on add input button click
					        e.preventDefault();
					        if(x < max_fields){ //max input box allowed
					            x++; //text box increment
					            $(wrapper).append('<div class=\"input-group\"><input type="text" name="spalten[]" class="form-control" placeholder="Überschrift Spalte ' + x + '"/><div class=\"input-group-btn\"><button class="form-control" id="remove_field" type="button"><i class="fa fa-trash"></i></button></div></div>'); //add input box
					        }
					    });
					    
					    $(wrapper).on("click","#remove_field", function(e){ //user click on remove text
					        e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
					    })
					});
					
					</script>
					
					<br />
					<b>Mit Geburtsdatum</b>
					<select name="gebdatum" class="form-control"><option value="1">Ja</option><option value="0" selected="selected">Nein</option></select>
					
					<br />
					<b>Format</b>
					
					<select name="format" class="form-control"><option value="a4h">A4 Hochformat</option><option value="a4q">A4 Querformat</option></select>
					
					<br />
					
					<button type="submit" name="createPDF" value="1" class="form-control"><i class="fa fa fa-file-pdf-o"></i> PDF Klassenliste herunterladen</button>
				</div>
				<div class="tab-pane" id="korrekturliste">

					Anzahl der Aufgaben: (Maximal 20)
					<br />
					<input type="number" name="aufgabenAnzahl" value="5" class="form-control"  min="1" max="20"/>
					
					
					
					<p>In der erzeugten Excel Datei müssen Sie nur noch die Maximalpunkte für jede Aufgabe festlegen (Am unteren Ende der Tabelle). Standardmäßig erhält jede Aufgabe 5 Punkte. </p>
					<p>Für eine Notenberechnung müssen Sie die Breiten der einzelnen Notenstufen angeben. Alle anderen Werte werden automatisch berechnet.</p>
					<p>Für die Korrektur müssen Sie nur die Punkte der einzelnen Aufgaben eingeben und erhalten direkt die Gesamtpunkte und Note berechnet.</p>
					<button type="submit" name="createXLSX" value="Excel Korrekurliste herunterladen" class="form-control"><i class="fa fa-file-excel-o"></i> Excel Korrekturliste herunterladen</button></td>
				</div>
				
				<div class="tab-pane" id="datenexport">
					Hier werden die Daten der Klasse als Exceldatei exportiert:
					<br />
					<ul>
						<li>Nummer</li>
						<li>Name</li>
						<li>Vornamen</li>
						<li>Rufname</li>
						<li>Geburtsdatum</li>
					</ul>
					
					<i>Die Angabe des Namensformates wird hier ignoriert</i>
				
					<button type="submit" name="createXLSXdaten" value="Excel Liste herunterladen" class="form-control"><i class="fa fa-file-excel-o"></i> Excel Liste herunterladen</button></td>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="cssjs/plugins/select2/select2.full.min.js"></script>

<script>
$(function () {
  $(".select2").select2();
});
</script>
{$this->footer}