{$this->header}


<div class="box">
	<div class="box-header">
		<h3 class="box-title">{$schueler->getCompleteSchuelerName()} (Klasse {$schueler->getKlasse()})</h3>
		<br />
		<a href="index.php?page=absenzenlehrer&mode=showGrade&grade={$schueler->getKlasse()}" class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i> Zurück zur Klasse</a>
	</div>
	
	<div class="box-body">
		<div class="callout callout-info">
					
					<if($_GET['showAll'] == 1)><then><b>Es werden alle Absenzen angezeigt</b><br />
						<a href="index.php?page=absenzenlehrer&mode=showSchueler&schuelerAsvID={$schueler->getAsvID()}">Nur Absenzen ohne schriftliche Entschuldigung anzeigen</a>
					</then>
					<else>
						<b>Es werden nur Absenzen ohne schriftliche Entschuldigung angezeigt</b><br />
						&raquo; <a href="index.php?page=absenzenlehrer&mode=showSchueler&schuelerAsvID={$schueler->getAsvID()}&showAll=1">Alle Absenzen anzeigen</a>
					
					</else>
					
					</if>
				
		</div>
		
		<expression>AbsenzenSekretariat::getSchriftlicheEntschuldigungPolicy()</expression>
		
		<br />
		<table class="table table-striped table-hover">
			<tr>
				<th>Datum</th>
				<th>Bis Datum</th>
				<th>Ist Beurlaubung?</th>
				<th>Ist Befreiung?</th>
				<th>Kommentar</th>
				<th>Entschuldigung eingeben</th>
			</tr>
			$absentenHTML
		</table>
	</div>

</div>


{$this->footer}
