{$this->header}


<link rel="stylesheet" href="cssjs/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="cssjs/plugins/fullcalendar/fullcalendar.css">
<link href="cssjs/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
<link href="cssjs/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
<link href="cssjs/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
<link href="cssjs/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<link href="cssjs/plugins/jQueryUI/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="cssjs/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />

<script src="cssjs/plugins/select2/select2.full.min.js"></script>
<script src="cssjs/plugins/timepicki/js/timepicki.js"></script>
<script src="cssjs/plugins/select2/select2.full.min.js"></script>
<script src="cssjs/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="cssjs/plugins/jQueryUI/jquery-ui.min.js"></script>
<script src="cssjs/js/moment-with-locales.js"></script>
<script src="cssjs/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="cssjs/plugins/fullcalendar/de.js"></script>


<link rel="stylesheet" href="cssjs/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="cssjs/plugins/fullcalendar/fullcalendar.css">

<script src="cssjs/plugins/moment/moment-with-locales.js"></script>
<script src="cssjs/plugins/input-mask/jquery.inputmask.js"></script>
<script src="cssjs/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="cssjs/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="cssjs/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src='cssjs/plugins/fullcalendar/de.js'></script>

<div class="row">
	<div class="col-md-9">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-group"></i> Klassen- und Schülerinformationen</h3><br />
				Für weitere Informationen / Schülerlliste zu den Klassen, einfach auf die Klasse klicken.
			</div>
			<div class="box-body">
				<table class="table table-striped">
					<tr>
						<th style="width:5%">#</th>
						<th style="width:30%">Klasse</th>
						<th>Aktionen</th>
					</tr>
					$gradeHTML
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-search"></i> Schüler suchen</h3><br />
			</div>
			<div class="box-body">


				<form action="index.php?page=schuelerinfo&mode=schueler" method="post" id="searchuserform">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn"><i class="fa fa-search"></i></button>
						</div>
						<input type="hidden" name="schuelerAsvID" value="" id="schuelerAsvID">
						<input type="text" name="pupilName" value="" id="schuelerAutocomplete"  class="form-control" placeholder="Nach Schüler suchen ...">
					</div>
				</form>

				<script>
					$(function() {

						$("#schuelerAutocomplete").autocomplete({
							source: "index.php?page=schuelerinfo&mode=searchSchueler",
							minLength: 2,
							select: function(event, ui) {
								var id = ui.item.id;
								var display = ui.item.label;
								$("#schuelerAsvID").val(id);
								$("#searchuserform").submit();
								return false;

							},

							open: function(event, ui) {
								$(".ui-autocomplete").css("z-index", 999999);
							}
						});

					});

				</script>
			</div>
		</div>



		<if(SchuelerQuarantaene::isActive())><then>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-file-pdf"></i> Listen</h3><br />
			</div>
			<div class="box-body">
				<p><a href="index.php?page=schuelerinfo&mode=getCompleteQuarantaeneList" class="btn btn-danger btn-block"><i class="fa fa-head-side-mask"></i> Gesamtliste der Quarantänefälle an der Schule</a></p>
			</div>
		</div>

		</then></if>
		
		<if(!DB::getSettings()->getBoolean('schuelerinfo-disable-unterricht'))><then>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-rocket"></i> Wahl- / Zusatzunterricht</h3><br />
			
				Für weitere Informationen (Schülerliste), bitte auf das Fach klicken.
			</div>
			<div class="box-body">
				<table class="table table-striped">
					<tr>
						<th>Fach</th>
						<th>Lehrer</th>
					</tr>
					$faecherHTML
				</table>
			</div>
		</div>
		</then></if>
	</div>
</div>


<script src="cssjs/plugins/select2/select2.full.min.js"></script>

<script>
$(function () {
  $("#schuelerSelect").select2();
});


</script>


{$this->footer}