<tr>
	<td>{$dateien[$f]->getName()}</td>
	<td>{$dateien[$f]->getKommentar()}</td>
	<td><expression>DateFunctions::getNaturalDateFromMySQLDate($dateien[$f]->getDate())</expression></td>
	<td>{$dateien[$f]->getDownloads()}</td>
	<td>
		<form>
			<button type="button" class="btn" onclick="window.location.href='$selfURL&action=getFile&fileID={$dateien[$f]->getID()}'"><i class="fa fa-download"></i></button>
		
			<button type="button" class="btn btn-danger" onclick="confirmAction('Datei wirklich löschen?','$selfURL&action=deleteFile&fileID={$dateien[$f]->getID()}')"><i class="fa fa-trash"></i></button>
		
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#moveFile{$dateien[$f]->getID()}"><i class="fa fa-refresh"></i></button>
		
		</form>
	
	
		<div class="modal fade" id="moveFile{$dateien[$f]->getID()}" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <div class="modal-header">	    
	    	<h4 class="modal-title">"{$dateien[$f]->getName()}" in anderen Bereich verschieben</h4>
	    	
	      </div>
	      <div class="modal-body">
	      		<form action="$selfURL&action=moveInOtherGroup&fileID={$dateien[$f]->getID()}" method="post">
	      		
	      			$submitButtonsOtherSections
		
	      		</form>
	      </div>
	      </div>
	     </div>
	    </div>
	</td>
</tr>