<div class="row">

<div class="col-md-9">

<div class="box">
	<div class="box-header"><h3 class="box-title"><i class="fa fa-puzzle-piece"></i> Bereiche</h3></div>
	<div class="box-body">
		<table class="table table-hover table-striped">
			<tr>
				<th>Bereich</th>
				<th>Dateien</th>
				<th>Berechtigungen</th>
				
				<th>Aktionen</th>
			</tr>
			$sectionHTML
		</table>
	</div>
</div>

<div class="box">
	<div class="box-header"><h3 class="box-title"><i class="fa fa-puzzle-piece"></i> Bereich hinzufügen</h3></div>
	<div class="box-body">
		<form action="$selfURL&action=addSection" method="post">
		<table class="table table-hover table-striped">
			<tr>
				<td style="width: 20%"><b>Name</b></td>
				<td><input type="text" name="newSectionName" class="form-control" placeholder="z.B. Lehrerdateien"></td>
			</tr>
			<tr>
				<td><b>Zugriff für Lehrer?</b></td>
				<td>
					<div class="onoffswitch">
					    <input type="checkbox" name="accessTeacher" value="1" class="onoffswitch-checkbox" id="accessTeacher">
					    <label class="onoffswitch-label" for="accessTeacher">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>
				</td>
			</tr>
			
			<tr>
				<td><b>Zugriff für Schüler?</b></td>
				<td>
					<div class="onoffswitch">
					    <input type="checkbox" name="accessSchueler" value="1" class="onoffswitch-checkbox" id="accessSchueler">
					    <label class="onoffswitch-label" for="accessSchueler">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>
				</td>
			</tr>
			
			<tr>
				<td><b>Zugriff für Eltern?</b></td>
				<td>
					<div class="onoffswitch">
					    <input type="checkbox" name="accessEltern" value="1" class="onoffswitch-checkbox" id="accessEltern">
					    <label class="onoffswitch-label" for="accessEltern">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>
				</td>
			</tr>
		</table>
		<button type="submit" class="form-control"><i class="fa fa-save"></i> Bereich anlegen</button>
		</form>
	</div>
</div>
</div>
<div class="col-md-3">$accessAllSections</div>
</div>


