{$this->header}

<div class="box">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-graduation-cap"></i> Verfügbare Lerntutoren</h3>
    </div>
    <div class="box-body">

        <if($istSelbstTutor)><then>

            <a href="index.php?page=Lerntutoren&mode=tutoransicht" class="btn btn-block btn-default"><i class="fa fa-table"></i> Zur Lerntutoransicht (Buchungen)</a>

        </then></if>

        <expression>DB::getSettings()->getValue('lerntutoren-disclaimer')</expression>

        <table class="table table-striped">
            <tr>
                <th style="width: 20%">Name</th>
                <th>Fach</th>
                <th>Jahrgangsstufe</th>
                <th>Kontaktieren</th>
            </tr>
            $slotsHTML
        </table>

    </div>
</div>


{$this->footer}