Neuer Laufzettel wartet auf Ihre Zustimmung

------------------------------------------------------------------------------------------

Ersteller des Laufzettels: $ersteller


In der/den Klasse(n) $alleKlassen findet am $datum eine Erkursion / ein Unterrichtsgang statt. ($titel)

Folgende Stunden sind betroffen:

$stunden

$nachricht

Sie sind im Fach "$fach" in der $realStunde. Stunde betroffen.

Bitte bestätigen Sie wenn möglich dieses Vorhaben in <expression>DB::getGlobalSettings()->siteNamePlain</expression> (<expression>DB::getGlobalSettings()->urlToIndexPHP</expression>) (Menüpunk Laufzettel).

Vielen Dank für Ihr Verständnis und Ihre Mitarbeit!



---------------------------------------------
Dies ist eine automatisch generierte Mail. Wenn Sie auf "Antworten" in Ihrem Mailprogramm klicken, wird der Ersteller des Laufzettels als Empfänger eingetragen.