{$this->header}

<div class="box">
<div class="box-body">
<p>Über das Home-Use-Program haben <strong>Lehrer</strong> die Möglichkeit eine Lizenz Microsoft Office Professional Plus 2016 für Windows oder für Mac zu bestellen.</p>
<p>Es handelt sich dabei <b>nicht</b> um Abo-Lizenzen, wie bei Office 365, sondern um klassische Lizenzen wie im Einzelhandel. Es ist nur zur Produktaktivierung eine Internetverbindung erforderlich.</p>
<p>Die Lizenz ist unbegrenzt gültig. <b>Beachten Sie aber:</b> Die müssen die Software deinstallieren, wenn Sie die Schule verlassen! Dies ist von Ihnen selbst sicherzustellen, da es von uns nicht überprüft werden kann.</p>
<p>Eine Weitergabe oder ein Verkauf der Software ist nicht gestattet.</p>
<p>Die Kosten betragen <i class="fa fa-euro"></i> 13,95 pro Lizenz, die von Ihnen direkt an Microsoft gezahlt werden. (Paypal, Kreditkarte, etc...)</p>
<p>Pro Person kann nur eine Lizenz (Windows <i>oder</i> Mac) gekauft werden.</p>

<h4>Die Vorgehensweise ist:</h4>
<ol>
	<li>Gehen Sie auf die HomeUseProgram Seite von Microsoft: <a href="http://www.microsofthup.com/" target="_blank">http://www.microsofthup.com/</a></li>
	<li>Dort werden Sie nach Ihrer geschäftlichen E-Mailadresse (<code>$username@$maildomain</code>) und einem Programmcode gefragt.<br />
		Geben Sie als Porgrammcode folgenden Code an: <code>$hupCode</code>
	</li>
	<li>Folgen Sie den Anweisungen auf der Seite.</li>
</ol>

</div>
</div>
{$this->footer}