{$this->header}

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Laufzettel für Schulaufgaben und Unterrichtsgänge</h3>
	</div>
	
	<div class="box-body">
		Unter diesem Menüpunkt werden Laufzettel verwaltet, die für Unterrichtsgänge und Schulaufgaben verwendet werden.
		<br />
		Der Vorgang ist einfach:
		<ul>
			<li>Sie erstellen einen Laufzettel und geben dabei an, wann der Unterrichtsgang oder die Schulaufgabe stattfindet.</li>
			<li>Sie wählen alle betroffenen Klassen aus</li>
			<li>Sie wählen alle betroffenen Stunden aus</li>
			<li>Das System ermittelt automatisch aus dem Stundenplan die betroffenen Lehrer und informiert diese.</li>
			<li>Das System fordert von allen betroffenen Lehrern eine Zustimmung</li>
			<li>Für einen Unterrichtsgang können Sie direkt das Antragsformular für die Schulleitung ausgefüllt herunterladen</li>
			<li>Für eine Schulaufgabe können Sie den Übersichtzettel herunterladen</li>
		</ul>
	</div>

</div>


{$this->footer}