<div class="">

    <div id=app></div>

    <script>
        var globals = {
            selfURL: "$selfURL"
        }
    </script>

     <script src=components/admin/menu/dist/main.js></script>


    <style>

        .item-cats ul {
            padding-left: 0;
            list-style: none;
        }
        .item-cats ul li {
            list-style: none;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        .item-cats ul .title {

            min-width: 20vw;
            max-width: 20vw;
        }
        .item-cats ul ul .title {
            min-width: 17vw;
            max-width: 17vw;
            padding-left: 1rem;
        }
        .item-cats ul ul ul .title {
            min-width: 17vw;
            max-width: 17vw;
            padding-left: 2rem;
        }

        .item-cats ul .id {
            min-width: 2rem;
            max-width: 2rem;
            text-align: right;
            padding-right: 0.2rem;
        }

        .item-cats .table_head .title {
            min-width: 17vw;
            max-width: 17vw;
        }
    </style>

</div>