<div class="">

    <div id=app></div>

    <script>
        var globals = {
            selfURL: "$selfURL",
            pages:  $pages
        }
    </script>

     <script src=components/admin/menu/dist/main.js></script>


    <style>

        .item-cats ul {
            padding-left: 0;
            list-style: none;
        }
        .item-cats ul li {
            list-style: none;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        .item-cats ul .title {

            min-width: 25vw;
            max-width: 25vw;
        }
        .item-cats ul ul .title,
        .item-cats .table_head .title{
            min-width: 18vw;
            max-width: 18vw;
            padding-left: 2rem !important;
        }
        .item-cats ul ul ul .title {
            min-width: 22.3vw;
            max-width: 22.3vw;
            padding-left: 4rem !important;
        }

        .item-cats ul .id {
            min-width: 2rem;
            max-width: 2rem;
            text-align: right;
            padding-right: 0.2rem;
        }

    </style>

</div>