{$this->header}
		<div class="box">
            <div class="box-header">
              <h3 class="box-title">Klassenleitung - Hinweise</h3>              
            </div>
           <div class="box-body no-padding">
           		<p class="text-blue">Sie befinden sich in der Klassenleitungsansicht. Hier können Sie:</p>
           		<ul>
           			<li>Einsicht in alle Bewertungen Ihrer Klassen nehmen</li>
           			<li>Die Beobachtungsbögen erstellen</li>
           			<li>Die Beobachtungsbögen noch nachträglich bearbeiten (z.B. Name)</li>
           			<li>Die Beobachtungsbögen ausdrucken</li>
          		</ul>
			</div>
		</div>
		<div class="box">
            <div class="box-header">
              <h3 class="box-title">Klassenleitung - Meine Klassen</h3>           
            </div>
           <div class="box-body no-padding">
           
           		<table class="table table-striped">
					<tr>
						<th style="width:10%">Klasse</th>
						<th style="width:10%">Art der Klassenleitung</th>
						<th style="width:20%">Fächerstatus</th>
						<th>Aktionen als Klassenleitung</th>
					</tr>
					
					$klassenHTML
			</table>
			</div>
		</div>

{$this->footer}